[2015-05-04 16:33] goanpeca opened #1 "wheel package format"
Would it be possible to propose it in wheel package format on pypi ?

[code]

[2015-05-04 17:04] Nodd commented on #1
Is it useful since it's pure python ?

[2015-05-04 17:17] goanpeca commented on #1
I just copied an issue from the old repo...

Since it is pure python the wheel can be universal, so sure why not :+1:

[2015-11-30 18:54] stonebig commented on #1
request:

[code]

[2015-11-30 18:55] goanpeca commented on #1
@stonebig will have it for later today, will ping you

[2015-11-30 18:56] SylvainCorlay commented on #1
@goanpeca @stonebig I would rather add the `setup.cfg` to the root dir like in qtawesome. It could also be useful to add a RELEASE.md here as well.

[2015-11-30 18:57] goanpeca commented on #1
Ok @SylvainCorlay

[2015-12-06 23:36] SylvainCorlay opened #5 "Add PYQT5 / PYQT4/PYSIDE boolean variables"
Spyder has a number of global variables for convenience to check whether we are running on PyQt5, PyQt4 or PySide.
It would be nice if those were moved to qtpy. I think that anyone using qtpy could use those.

[2015-12-07 02:49] ccordoba12 commented on #5
I agree. The idea for Spyder 3.0 beta3 is to remove its own shim and start using qtpy instead, so we *need* to do this.

[2015-12-07 03:23] #1 closed

[2016-01-21 18:04] #5 closed

[2016-02-27 18:22] Skylion007 opened #15 "Feature Request: PySide2 support"
PySide has been forked to add Qt5 support so integration into PySide2 would prove very helpful for this project. It should be difficult either since PySide2 just uses 'PySide2' instead. In fact, someone might even be able to write a script to integrate it into the code easily: https://github.com/PySide/pyside2

[2016-02-27 18:50] goanpeca commented on #15
Hi @Skylion007. According to https://github.com/PySide/pyside2/wiki/Project-Test-Status it is not ready so no point in supporting a half made port.

[2016-02-27 18:58] Skylion007 commented on #15
Fair enough, but I just want to have this port kept in mind for the future though.

[2016-02-27 19:01] SylvainCorlay commented on #15
Let's keep this open then. The pyqt license is not as liberal as the one of pyside so it is a good thing to keep supporting the latter (even unofficially).

[2016-03-09 13:51] Nodd opened #16 "Add loadUI functionality"
When using `.ui` files to build an interface graphically with QtDesigner, it is possible to load the interface directly from the `.ui` file rather than having to transform it onto python then import it. This is already integrated into [PyQt4](http://pyqt.sourceforge.net/Docs/PyQt4) and [PyQt5](http://pyqt.sourceforge.net/Docs/PyQt5/designer.html#PyQt5.uic.loadUi), and relatively easy to implement

[2016-03-09 15:20] goanpeca commented on #16
I tried that workflow and did not like it that much to be honest, it adds an extra step and an extra software to make any tweak (Qt Designer). I think ui files are a great alternative when you code in C++ but on python it feels like extra baggage.

I think is better to write the code in a way that the __init__ only handles UI element configuration and any other setup... in a setup step.

[2016-03-09 19:12] ccordoba12 commented on #16
@Nodd, I think a proof of concept pull request would be a good place to start with this :-)

[2016-03-09 19:51] goanpeca commented on #16
What is the question again??!?!?

[2016-03-09 22:57] Nodd commented on #16
@goanpeca I know it's not a workflow that you like. I don't want to force it, just to give the possibility to use it in qtpy by adding a single `loadUi` function.

As for the workflow itself, I view it more like a way to separate the view (.ui) and the controller (.py) in MVC terms. Also I like to see directly the interface I build. Since I mostly build non modular interfaces, having everything in

[2016-03-09 23:43] goanpeca commented on #16
Ahhhh ok ok, sorry I did not understand. Sure lets do it!

[2016-03-23 10:02] Nodd commented on #16
I tried it, but there is a problem I didn't anticipated: .ui files are not fully between Qt4 and Qt5, so I don't know if it's really worth it.
I'll list some reference for documentation:

* in PyQt, ui files are managed by [PyQt4.uic](http://pyqt.sourceforge.net/Docs/PyQt4/designer.html#the-uic-module) or  [PyQt5.uic](http://pyqt.sourceforge.net/Docs/PyQt5/designer.html#the-uic-module)
* in PySide

[2016-03-29 13:32] dracorpg opened #18 "QIntValidator left in QtWidgets, should be in QtGui"
With PyQt4 or PySide as backend, QValidator and QDoubleValidator are properly imported when importing qtpy.QtGui / deleted when importing qtpy.QtWidgets. But the poor QIntValidator seems to have been left behind... I didn't check in detail but maybe other classes were forgotten too, since this was apparently a manual process?

[2016-03-29 14:21] ccordoba12 commented on #18
Yes, it was a manual process. If you can help us to detect more things that we've forgotten, that would be great!

In the meantime, I'm going to open a pull request to fix the QIntValidator thing :-)

[2016-03-29 14:25] ccordoba12 commented on #18
This should be fixed in pull request #19.

[2016-03-29 23:45] astrofrog opened #20 "URL on PyPI for repo is incorrect"
The URL to the home page on https://pypi.python.org/pypi/QtPy/1.0 is currently pointing at a fork

[2016-03-29 23:48] astrofrog commented on #16
And here's a slightly modified implementation of loadUi for PySide that we use for Glue based on some of the other ones given above: https://github.com/glue-viz/qt-helpers/blob/master/qt_helpers.py#L383 (I cleaned up and removed some unnecessary parts)

[2016-03-30 00:01] ccordoba12 commented on #16
Thanks @astrofrog! Would it be ok for you to work under `qtpy` as a common library that's used by all Python scientific projects based on Qt?

I say it because we're going to migrate Spyder to use it in a month or so, and it'd be great if Glue would like to join us :-)

[2016-03-30 00:05] astrofrog commented on #16
@ccordoba12 - I think it'd be great to use ``qtpy``, so I'll look into it. I'll open some more issues for things I can contribute and turn into pull requests.

[2016-03-30 00:07] astrofrog opened #21 "Patch QComboBox with PySide?"
In qt-helpers, we patch QComboBox because on PySide, storing Python objects in the ``userData`` causes segmentation faults (while it works correctly in PyQt4 and PyQt5). Here is our implementation (which is only used with PySide):

https://github.com/glue-viz/qt-helpers/blob/master/qt_helpers.py#L320

Would you be interested in something similar here? If so, I can open a PR.

[2016-03-30 00:08] astrofrog commented on #16
@ccordoba12 - would you like a PR for the loadUi patch?

[2016-03-30 00:15] ccordoba12 commented on #16
Sure, please go for it! We'll also be glad to merge other PRs that are helpful for Glue.

We built qtpy mostly for Spyder (as you can guess), but we want to work with the community to make it useful for everybody :-)

[2016-03-30 01:50] ccordoba12 commented on #21
We were not aware of that issue, but if you recognized it as such in Glue then I think it's important to have it in `qtpy` too.

So, yes, please open a PR for it :-)

[2016-03-30 02:25] #20 closed

[2016-03-30 18:49] Nodd commented on #21
Just to be sure, did you check that the bug still exists in the last version ?
If that's the case a PR is welcomed !

[2016-03-30 18:53] astrofrog commented on #21
Ok, I'll work on it at the weekend! (and I'll check the bug is still present)

[2016-04-10 18:45] #18 closed

[2016-05-23 05:42] goanpeca commented on #21
Hi @astrofrog just checking if you found the issue :-p

[2016-05-23 10:59] astrofrog commented on #21
@goanpeca - oops, haven't had time yet, will try and look shortly.

[2016-06-08 11:13] astrofrog commented on #21
I'm finally working on switching glue to use QtPy, and will report back on this soon.

[2016-06-08 13:31] ccordoba12 commented on #21
Nice!! Please send us as many PR as you consider necessary to support
Gue :-)

El 08/06/16 a las 06:13, Thomas Robitaille escribió:

[2016-06-09 01:02] goanpeca opened #26 "Get rid of getexistingdirectory and patch QFileDialog?"
I liked the approach of py.qode better cause it did not relly on helper functions, but instead it patched QFileDialog to get the correct behavior.

We could do the same and get rid of the helper functions.

@ccordoba12 ?

[2016-06-09 01:06] ccordoba12 commented on #26
I have no problem with that. I think the current approach worked for versions older than PyQt 4.6, but they are ancient now.

PR coming?

[2016-06-09 01:40] goanpeca commented on #26
Yep, coming soon ;-)

[2016-06-09 06:04] Nodd commented on #26
It won't be retrocompatible, will it be qtpy 2.0 then ?

[2016-06-09 07:02] goanpeca commented on #26
Both will work, utils will be deprecated On 2.0 we remove, which gives time for más gration :)

[2016-06-09 07:07] Nodd commented on #26
I mean if people used QFileDialog directly, the behavior may change ? But we are still the main user, I guess.

[2016-06-09 13:38] goanpeca commented on #26
Ahh true, hmm will have to explore that :-p,

[2016-06-11 18:49] #21 closed

[2016-06-11 20:50] Nodd opened #34 "del QStyleOptionViewItemV4 in QtWidgets ?"
`QStyleOptionViewItemV4` is renamed to `QStyleOptionViewItem` but the old name still persists in the namespace.

[2016-06-11 20:54] Nodd opened #35 "del some names in QtCore ?"
In `QtCore.py` a few variables are renamed but the old names still persist, like `pyqtSignal` and `Signal`. PyQt variants should be removed.
(PyQt variants are imported by `import *`)

[2016-06-11 20:55] Nodd opened #36 "Simplify QtCore.py"
There is some coe like:
[code]
Why is the secon line needed, since `import *` is supposed to have imported `QCoreApplication` already ?

[2016-06-11 21:10] ccordoba12 commented on #36
Those are things we inherited from Spyder that fix crazy crashes under some specific situations.

I think it's better to leave it.

[2016-06-11 21:11] ccordoba12 commented on #35
+1 to this. PR coming? ;-)

[2016-06-11 21:25] Nodd commented on #35
Maybe after #33 :oP

[2016-06-11 21:26] Nodd commented on #36
In this case a comment is needed, otherwise it'll disappear sometimes...

[2016-06-11 21:29] goanpeca commented on #35
Should we "manually" import all items? instead of * and deleting? (yes more work but also more explicit)

[2016-06-11 21:53] Nodd commented on #35
It would help for autocompletion.
If we do this, there should be one item per line, so that later modifications show clearly what is modified. That's the theory, maybe having too many lines will hurt more than help.

[2016-06-12 01:25] goanpeca commented on #35
:-)

[2016-06-12 21:06] astrofrog opened #38 "QtTest for PySide"
In QtTest.py, it says:

[code]

However, if I replace the exception that is currently raised for PySide with:

[code]

it works fine. Is there any reason not to do this?

[2016-06-13 15:59] ccordoba12 commented on #38
Probably something we inherited from `pyqode.qt`. Please fix it :-)

[2016-06-14 13:27] #16 closed

[2016-06-14 21:23] astrofrog opened #41 "qtpy.__version__ should be QtPy version, not Qt version"
I think that ``__version__`` should be set to the actual QtPy version, otherwise packages won't be able to easily check for example that QtPy is recent enough to include certain patches. I think we could then make the Qt and other versions available via e.g.

[code]

I'd be happy to include a quick PR to include in QtPy 1.1 if others agree?

[2016-06-14 22:51] ccordoba12 commented on #41
I agree with this because the tradition in the Python community is to use `__version__` for the package version.

However, I'd like to know what @Nodd and @goanpeca think about this one.

[2016-06-14 23:13] goanpeca commented on #41
Yep I agree as well, I think it was @SylvainCorlay who did the initial packaging and used the `_version.py` (not complaining ;-)  )

[2016-06-15 01:48] ccordoba12 commented on #41
Nop, I don't think @SylvainCorlay is to be blamed here. I think this is something we inherited from `spyderlib.qt`.

Since @goanpeca is +1, please go ahead with this @astrofrog. I agree with the constants you proposed:

    qtpy.QT_VERSION
    qtpy.PYSIDE_VERSION
    qtpy.PYQT4_VERSION
    qtpy.PYQT5_VERSION

[2016-06-15 08:13] Nodd commented on #41
:+1: too !
We could have another set of constants containing the version as tuples for easy comparison (like `sys.versioninfo`).

[2016-06-20 01:07] Nodd opened #42 "Wrong old PyQt4 version check"
Maybe I'm wrong, but it seems to me that `is_old_pyqt` and `is_pyqt46` should use `PYQT_VERSION` instead of `__version__` in https://github.com/spyder-ide/qtpy/blob/master/qtpy/__init__.py#L113.  `__version__` is now the version of qtpy.

[2016-06-20 02:07] ccordoba12 commented on #42
That's most probably true, thanks for noticing! Could you make a PR to solve this problem?

[2016-06-20 22:18] #42 closed

[2016-07-06 09:28] Nodd opened #48 "Remove `import *`"
Imports should be named instead of using `import *`. It would help for introspection for example.
It was suggester first in https://github.com/spyder-ide/qtpy/issues/35#issuecomment-225395535

The modules to update would be:
- qtpy/QtCore.py
- qtpy/QtDesigner.py
- qtpy/QtGui.py
- qtpy/QtNetwork.py
- qtpy/QtPrintSupport.py
- qtpy/QtSvg.py
- qtpy/QtWidgets.py

[2016-07-07 17:21] #35 closed

[2016-07-07 17:21] #36 closed

[2016-08-02 19:37] davvid opened #49 "QtMultimedia support"
The following does not seem to work with QtPy:

[code]
but it does work if we import QtMultimedia directly from either PyQt4 or PyQt5.

Would it be desirable to provide a wrapper over QtMultimedia and QtMultimediaWidgets?

Are there any gotchas?

[2016-08-02 19:45] ccordoba12 commented on #49
Yes, please open a PR to add `QtMultimedia` as a supported module :-)

[2016-08-03 02:27] #34 closed

[2016-08-03 02:33] ccordoba12 commented on #48
The problem with this request is Qt5, which is always adding new stuff in each release.

I mean, I don't know how we could be compatible across Qt5 releases if we try to import symbols directly instead of using star imports.

[2016-08-03 02:39] goanpeca commented on #48
We need to restrict QtPy to certain versions, so I would suggest to be 5.6 compatible and make a release where we explicitly check that Qt5 is 5.6, otherwise we raise an error. Since conda packages will only support 5.6 (LTS) this seems like a safe choice for now.

[2016-08-03 02:43] ccordoba12 commented on #48
But PyQt 5.7 is already out, and `qtpy` is not tied to conda in any particular way, so we shouldn't pin Qt to 5.6 :-}

[2016-08-03 02:45] goanpeca commented on #48
In that case I suggest using 5.6 as base and add 5.7 features with an additional if Qt5 == 5.7 ... (and per user request)

[2016-08-03 02:46] ccordoba12 commented on #48
Ok, no problem with that.

[2016-08-03 02:47] goanpeca commented on #48
:+1:

[2016-08-03 04:32] goanpeca commented on #48
@nodd, @ccordoba12 question.

What should we do with items that are present in pyqt4/pyside but NOT in pyqt5?, should we NOT import them? This would be in line with making imports look like qt5 (pyqt5).

Use cases:
- qtpy with Qt4/pyside, user tries to import something that is only available in pyside (not on pyqt5).... **import error**
- qtpy with Qt4/pyside, user tries to import something that i

[2016-08-03 05:20] goanpeca commented on #26
Actually now that I think about it, what we should do is replace QFileDialog, methods by something that raises an error and points the user to use the compat utilities. Cause QFileDialog.staticMethods return a string, and we often need the actual file and the selected filter (and that is what the compat methods do)

[2016-08-03 05:37] goanpeca commented on #48
This is the content of the different apis and official Qt classes.

[code]

Qt5.6 and Qt5.7 have the exact same items, so there should not be any issue.

[2016-08-03 06:16] goanpeca commented on #15
For reference https://wiki.qt.io/PySide2

[2016-08-13 19:46] tobiasgehring opened #57 "qInstallMessageHandler <-> qInstallMsgHandler"
The installer for the message handler is called qInstallMsgHandler in PyQt4 and pyside and qInstallMessageHandler in PyQt5. In PyQt5 the message handler got an extra argument called context.

The reason to use qtpy is to have a program running in all three environments. Thus, there should be a unified way to use it (e.g. set context to None if pyqt4/pyside is used).

[2016-08-13 20:29] goanpeca commented on #57
@tobiasgehring thanks for pointing this out, we will take a look at it.

[2016-08-16 04:29] ccordoba12 opened #60 "CircleCI is only using PyQt5"
I just noticed that we're only using PyQt5 to run our tests on CircleCI. This is of course wrong and must be fixed ASAP.

@goanpeca, this one is for you ;-)

[2016-08-16 04:35] goanpeca commented on #60
Circle ci limits to 4 boxes... so thats all we can test simultaneously. I just chose qt5 for now... we could remove repeated tests from travis so that the load of tests is handled by both more uniformly.

Still, circle ci is by far the fastest ci out of appveyor and travis, so one can immediately spot a problem after a minute at most.

[2016-08-16 04:45] goanpeca opened #61 "Add documentation for methods or helpers that are specific to qtpy"
This includes documenting
- `from qtpy.QtCore import Signal, Slot`
- The use of the openfiledialog openfolderdialog helpers (study the option of overloading QFileDialog... which would also need documentation as it would change the default behavior)
- Where to find the Qt version `from qtpy.QtCore import __version__`

[2016-08-16 04:46] goanpeca opened #62 "Add to the readme the importance of qtpy when migrating an application"
This has to be the greatest strength of this project, yet we do not say anything about it on the readme.

We should give a small description on its importance.

[2016-08-16 04:48] ccordoba12 commented on #60
Can't we run tests sequentially per Python version? I mean:

* Python 2.7: PyQt5, PyQt4, PySide
* Python 3.4: PyQt5, PyQt4, PySide
* Python 3.5: PyQt5, PyQt4

That way we'd only be using  3 boxes but we'd test all combinations.

[2016-08-16 04:56] ccordoba12 commented on #62
We could link to the `git-cola` issue that talked about this, for example :-)

[2016-08-16 05:48] #49 closed

[2016-08-16 07:42] Nodd commented on #61
That could be done directly in the readme because it's quite important.

[2016-08-16 14:28] goanpeca commented on #61
Agreed!

[2016-08-16 14:29] goanpeca commented on #62
Sure, like a

Success stories:
- [git-cola]()

[2016-08-16 14:30] goanpeca commented on #60
We could, but ci-helpers would have to be dropped, and the yaml file would stop being nice and concise :-|....

[2016-08-16 14:35] ccordoba12 commented on #60
I don't think so. Instead of having this chunk of bash in the yaml file:

https://github.com/spyder-ide/qtpy/blob/master/circle.yml#L22

we could create a proper bash script that would iterate between Python Qt binding versions.

[2016-08-16 14:36] goanpeca commented on #60
I dont think is a good idea, cause that would add a burden, and you loose the ability to know what failed on what configuration at a glance...

[2016-08-16 14:44] goanpeca commented on #60
@astrofrog just wondering, if you have given more consideration to CIRCLE-CI working with ci-helpers.

Any chance of providing move test environments in order to support sequential builds on circle ci?

something like:
[code]

[2016-08-16 14:45] ccordoba12 commented on #60
You always have to go through big logs to check for errors in CI services :-)

True, our current setup is nice but that's not of much value if we're not testing things against all possible configurations.

----

I'll create a PR with my proposed solution. The real problem here is the lack of a testing matrix in CircleCI, so for the time being we would need to drop beauty for practicality on it :-)

[2016-08-16 14:46] goanpeca commented on #60
@ccordoba12 please dont change that, really. I dont agree with that change.

A first step is dropping the support in travis for duplacate builds. We have 12 builds on travis (6 for linux and 6 for mac). We should have 8 only (2 for linux and 6 for mac)

[2016-08-16 14:56] ccordoba12 commented on #60
Ok, then we must leave on Travis what's not tested on CircleCI for Linux, i.e.

* Python 2.7: PyQt4, PySide.
* Python 3.4: PyQt4
* Python 3.5: PyQt4

Those are 4 configurations, instead of 2 :-).

----

I still don't understand what's the need to have CircleCI though. I mean, we could have everything tested on Travis and forget about CircleCI. Sure it's fast, but for a test suite that only takes t

[2016-08-16 15:05] goanpeca commented on #60
The idea is to test it on different projects to see how ci-helpers could be expanded to be useful there as well, this is a case where the 4 machines limit of circle ci is evident, and gives ideas for possible solutions.

I meant startup time, after a PR is pushed you get results the fastests because circle ci is also the fastest to setup, so if there a bug you dont need to wait 30 minutes or more

[2016-08-16 15:05] #60 closed

[2016-08-16 15:08] ccordoba12 commented on #60
I think I want to remove the unused configs on Travis. At least that will improve time a bit there :-)

[2016-08-16 15:11] goanpeca commented on #60
Sure...

[2016-08-17 21:38] tobiasgehring opened #64 "QHeaderView.setSectionResizeMode"
in Qt5 QHeaderView.setResizeMode is deprecated (and thus not existing in pyqt5) and was replaced by QHeaderView.setSectionResizeMode. qtpy should define QHeaderView.setSectionResizeMode if qt4 or pyside is used to not raise an attribute error.

[2016-08-17 21:57] ccordoba12 commented on #64
@tobiasgehring, could you open a pull request to fix this problem? Thanks :-)

[2016-08-19 07:27] goanpeca opened #66 "Add documentation for how to run tests"
How is this normally handled? should we add an environment.yaml to set a full environment for qtpy? or should we add a specfile/requirements-test.txt file?

@ccordoba12, @Nodd?

[2016-08-20 15:29] ccordoba12 commented on #66
An environment.yaml along with some instructions in our README would be fine for me :-)

[2016-08-20 17:40] goanpeca commented on #66
sure that would work :-)

[2016-08-25 16:08] lschr opened #67 "uic.loadUiType is missing"
Prior to 48eecd3420915584e51ffda896c9f86900d008e5, all of `uic` was imported from PyQt in `__init__.py`, but now it is only `loadUi` in `uic.py`. I understand that there may be an issue with the functions not being present in Pyside. Would it be possible to add something similar to the `loadUi` implementation?

[2016-08-25 16:37] ccordoba12 commented on #67
@astrofrog, what do you say?

[2016-08-25 16:43] #64 closed

[2016-08-25 16:47] goanpeca opened #68 "Auto generate methods that have been deprecated for Qt5 stuff"
We need to generate all the things that change between qt4 and qt5 and try to trun them into issues so we can start working on this issues little by little.

[2016-08-26 07:19] Nodd commented on #67
We can import all of uic in pyqt, since some people use qtpy for compatibility with pyqt4 and pyqt5 only. It just need a warning that it's not available in pyside.

[2016-08-26 09:15] astrofrog commented on #67
What @Nodd suggests is fine - I don't have time to work on this, but I agree in principle, provided loadUi itself still works with PyQt and PySide.

[2016-08-26 09:22] mottosso opened #69 "Letting you know about the existence of Qt.py"
Hi qtpy!

Me and fellow developers are working on a shim much like yours, except with a different mindset and target audience (i.e. film and visual effects). We aren't yet sure whether our approach is better or worse than yours, but expect changes to eventually occur relative our narrow target audience to conflict with those of yours (assuming yours is the Spider IDE and/or the general public, tho

[2016-08-26 11:32] mottosso commented on #68
We're on the same road! :)

- https://github.com/mottosso/Qt.py/issues/105

Working on this now, let's solve this!

[2016-08-26 13:09] ccordoba12 commented on #67
Ok, fine by me too.

@Nodd, could you work on a PR following your own advice? I also don't have time to work on it right now, but it shouldn't take too much time :-)

[2016-08-26 13:30] ccordoba12 commented on #69
Hey, thanks for letting us know about your project @mottosso!!

I have a couple of questions about your goals:

Why do you prefer that? It seems a bit unmanageable in the long run ;-)

Why? PySide2 seems to not be ready for the prime time :-)

----

Given that you seem to have a lot of experience with PySide, I think we should join efforts and work on a single shim package that would work really w

[2016-08-26 15:53] goanpeca commented on #69
Hi @mottosso thanks for chiming in.

Regarding...

I guess this in the linex of a six like idea?, but for our use case (plus testing) it does not make much sense.

As @ccordoba12, even though pyside2 has been officially gained momentum it seems to not be ready AFAIK

Since the API changed and is expected to keep changing this approach might hit some issues.

We are already starting on this and we

[2016-08-26 15:57] goanpeca commented on #68
Hi @mottosso, what do you propose?

[2016-08-26 16:00] goanpeca commented on #68
Our needs are based on patches like this

https://github.com/spyder-ide/qtpy/blob/master/qtpy/_patch/qheaderview.py

That will include missing methods (on older libraries Qt4...) and include newer methods (renames) and if possible to offer the new functionality (this will not always be possible).

I generally use the Qt docs for everything, I really never bothered looking at pyside or pyqt, so all

[2016-08-26 16:08] mottosso commented on #69
No problem @ccordoba12!

Fair question. It's got to do with our target audience; they are not developers, but rather artists with scripting experience. We can't rely on pip, anaconda or any other packaging mechanism, when the lowest common denominator is "copy/paste this file". Support for package managers is there, but optional.

I can see why you'd think that. :) In this case we expect it to go

[2016-08-26 16:15] mottosso commented on #68
Woah, I can't tell what's going on in that file. :O

I was going to give this a try.

1. During a Travis build, automatically generate a dictionary of members and argument signatures of everything in the `PySide2` namespace
2. Compare this with an identical listing for each other binding
3. Things that exist in PySide2, but not in the others, are officially *missing* from other bindings; and that'

[2016-08-26 16:23] goanpeca commented on #69
Hi @mottosso

Sure, almost has been answered just to point out

I think packaging exists for a reason and if people use anaconda they can already install things using a graphical package manager that makes the barrier of entry easier (See [Navigator](https://docs.continuum.io/anaconda/navigator). Copy paste might be the "right" solution for your use case, feels like going back 20 years.

This coul

[2016-08-26 16:30] goanpeca commented on #68
Your method is ok but was incomplete for our requirements.

That's exactly how I started (some weeks ago) but then realized I needed to know what was the actual truth, and that can only be provided by the Qt docs.

We can not say who is right if PySide2 or PyQt5, but we are pretty sure Qt docs are right and we aim for that first and then we will handle whatever strange things PyQt5 or PySide2 need

[2016-08-26 16:39] mottosso commented on #69
As a developer, I'm with you on this one! The habits of our target audience however falls outside of my control. :(

Oh but I disagree! The difference is huge! At this point, it sounds as though qtpy is an ad-hoc mixture of available members, what about discoverability? How can I make an educated guess about the choices you've made, if they aren't based on a single truth?

This is the reason we've

[2016-08-26 16:42] mottosso commented on #68
Perfect! This will save us lots of time.

Do you remember which commit/PR this was? I'd love to take a look at the approach.

How do you feel about fetching members and argument signatures directly from the Qt git repository?

[2016-08-26 16:43] goanpeca commented on #69
I have no idea what you mean, cause our reference is Qt5 docs (not Qt4, not pyside, not pyqt4 not pyqt5 not pyside2). We mostly follow PyQt5 (which is based on Qt5 anyway) cause that is what is available now.

[2016-08-26 16:44] goanpeca commented on #69
Anyway, thanks for letting us know and good luck!

[2016-08-26 16:44] #69 closed

[2016-08-26 16:46] ccordoba12 commented on #68
I think that should be the way to go :-)

[2016-08-26 17:24] goanpeca commented on #68
Sure, that works, I just happen to like scrapping stuff :-p and not parsing c++ code

[2016-08-26 22:47] mottosso commented on #69
You are most welcome, @goanpeca.

"Good luck and speak soon!"? :) Or "Good luck and good bye"? :(

[2016-08-26 23:33] goanpeca commented on #69
Good luck and let us know how the project is going :-p hehe

[2016-08-27 15:24] mottosso opened #70 "QHeaderView.setSectionResize on Python 3 works randomly"
Hi qtpy,

As discussed in #65, I've got a problem, and it occurs at random.

**Reproducible**

[code]

The error there is thrown 9/10 times I try. :(

If I remove the line with `hasattr`, it works 10/10, so I figure some magic (threaded initialisation?) must be occurring on this line.

[2016-08-29 09:35] mottosso commented on #68
About your previous attempt at this, I was looking through your past PR's but came up empty. Do you remember where this went? It would be very helpful!

[2016-08-30 09:52] mottosso commented on #68
Ok, we've got a first pass on this!

- https://github.com/mottosso/Qt.py/pull/120

This does as I mentioned above; comparing members of other bindings to PySide2. It's possible the same achieved by PySide2 switched out for PyQt5, which may be closer to what you guys need.

[2016-09-02 16:47] jitseniesen commented on #66
I just wrote http://github.com/spyder-ide/spyder/wiki/Dev%3A-Testing for the spyder repo - maybe you can use it as a starting point?

[2016-09-20 08:23] lschr commented on #67
I found an implementation of `loadUiType` for Pyside here: https://gist.github.com/mstuttgart/bc246b25b8e0f7edd743
Could this be integrated in qtpy (if the author permits it and so on)?

[2016-09-20 14:18] goanpeca commented on #67
This could be useful, but is it feature complete? we would need to add some tests :-p any volunteers? @astrofrog ?

[2016-09-26 12:05] xueyaodeai opened #73 "anaconda-navigator load fail, because #47 delete the attribute 'QT_VERSION_STR'"
➜
[code]
➜  anaconda-navigator
[code]

#47 delete the attribute 'QT_VERSION_STR'

[2016-09-26 14:47] #73 closed

[2016-09-28 15:34] ghisvail opened #75 "Missing copyright headers"
The following files are missing a copyright header:
-  `qtpy/_patch/qheaderview.py`

Please consider adding one to be consistent with the rest of the (mixed copyright) codebase.

[2016-09-28 15:45] goanpeca commented on #75
Oops, thanks @ghisvail, will do!

[2016-09-28 23:05] kernc opened #76 "Don't delete QtCore.{pyqtSignal,pyqtSlot,pyqtProperty}"
The [README says](https://github.com/spyder-ide/qtpy/blob/8f4207d88e4c83e71890ab54d0c80179c19b74ce/README.md#description) the API is [PyQt5 compatible](http://pyqt.sourceforge.net/Docs/PyQt5/signals_slots.html#defining-new-signals-with-pyqtsignal), yet the PyQt5 identifiers such as `QtCore.pyqtSignal` are [explicitly deleted](https://github.com/spyder-ide/qtpy/blob/31dbc9eb01329af3d7d67cbfd6ee76a6

[2016-09-28 23:21] kernc opened #77 "Inject itself into sys.modules for other PyQt versions"
Scenario:

In my app, I `from qtpy.QtCore import Qt`. I run my app with `QT_API=pyqt5`, so PyQt5 is preferred, defaulting to PyQt4 if the former is not available. Anyway, PyQt5 is available and my app runs fine.

In some obscure module, or in a stand-alone add-on for my app, I rely on a third-party Python package that imports and works with PyQt4. The import fails. My app breaks.

Use case:

I wou

[2016-09-28 23:37] kernc commented on #77
Some justification (basically above scenario reiterated) in https://github.com/biolab/orange3/issues/1613#issuecomment-250332359.

[2016-09-29 00:03] kernc commented on #48
From https://github.com/spyder-ide/qtpy/issues/35#issuecomment-225395535:

Is this the only argument for this? Editors with some introspection should be able to autocomplete just fine.

It is a pain to maintain? Will it work on old Debians with Qt5.3? Will it be modular and work with fine-grained packaging on modern Unixes? Is it a responsibility of the abstraction layer to keep all properties of

[2016-09-29 07:06] ccordoba12 commented on #77
I don't understand too well your request. Could you create a pull request to better understand what you need? Thanks :-)

[2016-09-29 07:09] brylie commented on #77
For context, @kernc described the request in [the linked issue](https://github.com/biolab/orange3/issues/1613#issuecomment-250332359) as:

[2016-09-29 07:14] ccordoba12 commented on #77
Sure, I read that :-) I just don't understand how he expects `qtpy` to be injected into `sys.modules`.

A pull request with that and a simple test of a file trying to import PyQt4 would be the best way to understand what he wants.

[2016-09-29 07:15] brylie commented on #77
@ccordoba12 cool. Thanks for your quick responses.

[2016-09-29 07:48] ccordoba12 commented on #48
@kernc, so your -1 on this because it's difficult to cover all corner cases?

[2016-09-29 07:51] Nodd commented on #77
I don't think it's possible to import both PyQt4 and PyQt5. You can't simply replace PyQt4 by qtpy either, since qtpy uses Qt5 module layouts. If a module needs PyQt4, then you have to use it no matter what. I don't understand how using `sys.modules` would make things work here.

[2016-09-29 07:55] Nodd commented on #76
The README doesn't claim to be PyQt5 compatible. It uses the PyQt5 layout for modules (other abstraction modules import everything into both QtGui and QtWidgets for example).
In "Basically, you write your code as if you were using PyQt5", the important word is "basically" :wink: It's not the case for Signals and Slot.

On the other hand we agree that the documentation is lacking, see #61.

[2016-09-29 08:00] Nodd commented on #48
Well for example pyflakes warns that it won't be able to detect undefined names if `import *` is used.

But I agree it could be a pain to maintain.

[2016-09-29 08:27] ghisvail opened #78 "Request for a new bugfix release"
Please consider making a new (bugfix) release (soon) which include commit https://github.com/spyder-ide/qtpy/commit/088c58e7d03e81911735d72bb81d6538cf87f856.

Right now, this bug [forces](https://github.com/pyzo/pyzo/issues/440#issuecomment-250397488) the `pyzo` project to vendor `qtpy` instead of depending on it. A new stable release would allow us to place a versioned dependency on `qtpy` and ul

[2016-09-29 08:38] ccordoba12 commented on #78
Ok, I'll do it next week.

[2016-09-29 11:04] goanpeca commented on #48
We never intended to be compatible with old versions of Qt, so we should update the README. We will only care about 4.8 and 5.6+, for the time being.

We could make an effort for lower versions but that was clearly never the scope of this project. I already checked for 5.6 and 5.7 and nothing new was introduced that would require changes to the named imports.

[2016-09-29 11:05] goanpeca commented on #48
We can automate an script to check for new stuff, which is kinda what I manually did, so I dont think the pain to maintain is that great.

[2016-09-29 11:35] goanpeca commented on #61
Ok I will add this to the Readme now based on #76.

@Nodd, we never claimed to be 5.3 or something compatible, I think the aim was to be 5.6+, thoughts?

[2016-09-29 12:30] kernc commented on #77
Exactly. Depending on set `QT_API`, qtpy would adapt its exposed interface. The most major difference, to my viewing, is distinction of QtGui and QtWidgets anyway. Something like:
[code]
I think best-effort compatibility could be achieved in not too many lines.

[2016-09-29 12:39] goanpeca commented on #77
Sorry I still don't understand

This is not fixing the fact that you third party app is only Qt4 compatible and wont work with a Qt5 app. If you rely on a third party app that is not Qt5 compatible, then you need to vendor it or fork it, or the third party app needs to offer Qt5 support somehow (with their own shim or via qtpy).

[2016-09-29 12:52] kernc commented on #76
Equivalently, you could [import PySide's Signal](https://github.com/spyder-ide/qtpy/blob/31dbc9eb01329af3d7d67cbfd6ee76a632aa84c2/qtpy/QtCore.py#L41):
[code]
Furthermore, you could agnostically:
[code]
and avoid tensions to force the user to write their software in a certain way.

[2016-09-29 13:07] kernc commented on #48
Qt 5.3 is in Debian Jessie which will be LTS until early 2020. Qt 5.2 is in Ubuntu 14.04 which is LTS till mid 2019. Ubuntu 16.04 (LTS till 2021) has Qt 5.5. Likewise for RedHat-based LTS distros. Those platforms are strong Python / Qt / scientific users.

Regardless of how you go about `import *`, I don't think it's necessary to exclude them up front, so any _graceful degradation_ would be apprec

[2016-09-29 13:15] kernc commented on #77
In my experience, most PyQt4 uses are out-of-the-box compatible with PyQt5 (with something like [above short snippet](https://github.com/spyder-ide/qtpy/issues/77#issuecomment-250452329)). Review the [differences between Qt4 and Qt5](https://wiki.qt.io/Transition_from_Qt_4.x_to_Qt5). In a normal, not too complex Qt app, few present a barrier as strong as a separate QtWidgets module. We are doing t

[2016-09-29 13:16] goanpeca commented on #48
Indeed, but we also recommend the Anaconda Distribution in general, which is cross platform and supports 4.8 and 5.6 out of the box.

QtPy was made for 4.8 5.6+ and I will update the Readme soon to reflect that decision.

[2016-09-29 13:21] goanpeca commented on #77
I personally don't endorse messing up the with the sys modules in such a way, its a clever hack and might work, but the purpose of QtPy was to gradually allow Qt Python apps to make their code Qt5 compatible in a way that the code moved to the future (unlike what Python2/3 allowed because of its change in syntax).

Cool, if the approach works for you, but as stated this is definitely not the inten

[2016-09-29 13:34] kernc commented on #77
Of course, the proposed wouldn't _prevent_ anyone from upgrading to PyQt5 or later. It just wouldn't force them to at any cost.

[2016-09-29 13:40] goanpeca commented on #77
But leaving the the code unchanged is not really upgrading to Qt5, its just making a clever hack, hence not really endorsing this change.

[2016-09-29 13:47] kernc commented on #77
Some projects are big and/or temporarily stalled due to lack of time.

Suppose we would like to _test_ our app with PyQt6 as soon as it is released (6.1 or something). We would first need to wait for all our dependencies to acknowledge and update their code to import from PyQt6. Or fork them. Neither of which is too reasonable. Some projects are temporarily stalled or efforts dedicated elsewhere.

[2016-09-29 14:02] goanpeca commented on #77
I understand all your concerns, but this is out of the scope.

As a side note I would be wary of depending on projects/libraries that are `temporarily stalled or efforts dedicated elsewhere`.

We will be the first to update our library to make sure that the same principles that once made sense for Qt5 make sense for Qt6 when it arrives, so any library already using qtpy would benefit from qtpy 2.0

[2016-09-29 17:35] Nodd commented on #77
A big difference between Qt4 and Qt5 is the new QtWidget module. How would any Qt4 work with this change ?

[2016-09-29 18:15] goanpeca commented on #77
I think he meant

[code]

[2016-09-29 20:34] ccordoba12 commented on #48
@goanpeca, I think trying to do a list of all objects under every Qt library would demand a lot of effort from us to support correctly in the future (even if we require that the minimal Qt 5 version that we support is 5.6).

So I agree with @kernc on this one, and I'm -1 on moving forward with this idea. I think it's just unpractical for a little (and handy :-) library like `qtpy`.

[2016-09-29 20:37] ccordoba12 commented on #48
And since @Nodd agrees with me, we should revert your PR for QtSvg and release `1.2` so that Debian guys can correctly package `pizo` (@almarklein's IDE :-)

[2016-09-29 20:44] ccordoba12 commented on #48
Another argument to abandon this idea is that `qtpy` is now part of Debian (and Ubuntu as well) so we really **can't** break compatibility with them.

And `qtpy` is a dependency of important projects like Spyder, Glue and git-cola, which can support Qt5 versions older than 5.6 (e.g. Spyder supports 5.2+).

[2016-09-29 20:50] ccordoba12 commented on #76
@Nodd, your final thoughts on this? You were the one who proposed #47 :-)

I'm -0.5 on the idea because (as I said) I'd prefer projects use the more generic `Signal` instead of `pyqtSignal`. But I understand this can be hard for big projects like Orange which decided to use `pyqtSignal` from the beginning :-)

[2016-09-29 20:53] ccordoba12 commented on #77
@kernc, I can see the value of your clever hack :-)

Please create a pull request with it, but make it optional, i.e. find a way to apply it only if library authors want to use it :-)

[2016-09-29 21:13] kernc commented on #76
I don't think we will have much problem switching to Signals and Slots here. There just isn't a reason to enforce a particular style someone randomly decided upon when working to convenience the user can prove as fruitful and, in this case, so effortless.

[2016-09-29 21:29] kernc commented on #77
You mean optional in a way such that qtpy library _users_ can decide if they want to enable it, like:
[code]
Will be happy to!

[2016-09-29 21:30] ccordoba12 commented on #77
Yep, that's exactly what I meant :wink:

[2016-09-29 23:35] goanpeca commented on #48
Well this library is pretty useless if we don't enforce the right imports, the idea is to nudge people into the right direction. If we are using `import *` we need to retain the del statements.

[2016-09-30 09:16] ccordoba12 commented on #48
I think we are already enforcing the right imports. I mean, we're already enforcing the Qt5 layout for Qt4 projects.

True, but that's far more easier to manage than the huge amount of objects that will appear if we remove our star imports (not to mention that we will break compatibility with older Qt 5 versions :-).

----

In any case, this issue needs more discussion, so it's not ready for 1.2.

[2016-09-30 16:19] innerhippy opened #80 "Missing Classes"
There's a bunch of missing classes on QtGui:
[code]

Some of these seem to be quite fundamental classes, so was wondering why they are not included.

Thanks!

[2016-09-30 20:31] ccordoba12 commented on #80
They are included in `QtWidgets`. The purpose of this package is to develop applications as if you were using PyQt5, not PyQt4.

Please read our README for a more detailed explanation :-)

[2016-09-30 20:31] #80 closed

[2016-10-02 08:08] astrofrog opened #81 "Allow QtPy to work without session support"
At the moment, QtPy crashes completely if used with the latest PyQt4 build from conda-forge:

https://github.com/conda-forge/pyqt-feedstock/issues/5

I wonder if we could make QtPy more tolerant of cases where session support is not enabled, by putting the session-related imports inside a try/except?

[2016-10-02 08:29] ccordoba12 commented on #81
That's a problem I need to solve in the Qt build of conda-forge, not for `qtpy` to do something about it :-)

[2016-10-02 10:46] astrofrog commented on #81
Ok no problem - just wasn't sure if the Qt fix would take a while if it was complex.

[2016-10-02 10:46] #81 closed

[2016-10-02 10:52] ccordoba12 commented on #81
I'm on vacations right now but I'll work on it next week.

The fix is not that hard (as far as I can tell), just a matter of installing the right Xorg libraries before compiling Qt in the conda-forge docker image.

And after that, I also need to rebuild PyQt.

[2016-10-04 19:59] goanpeca commented on #77
@kernc any updates :-p ?

[2016-10-04 20:01] goanpeca commented on #76
Hi @kernc just to update here,

Its not really random, the thing is that we follow the Qt5 layout (not the PyQt5 layout) so we need to update the readme.

Since having PyQtSignal was PyQt5 specific, that is why we decided to remove it. PySide (and eventually PySide2) will use Signal and Slot (which feels much better).

We can re-add them if that would make the use of QtPy in orange easier... (but

[2016-10-09 13:10] malliwi88 opened #82 "you should add QIcon to QtWidgets..."
Hi

I think this a function escaped in the hierarchy from QtGui, because I can call this using
[code]

but not

[code]

I think this is a minimal issue (depends your implementation), but it's contribute to improve order ;).

Thanks

[2016-10-10 09:21] ccordoba12 commented on #82
QICon is part of QtGui in Qt5:

http://doc.qt.io/qt-5/qicon.html

and the purpose of `qtpy` is to follow the Qt5 library layout.

So I don't understand too well the purpose of your request :-)

[2016-10-13 19:04] toddrme2178 opened #83 "Include core doc files in PyPi releases"
The version of QtPy on PyPi lacks the `AUTHORS.md`, `CHANGELOG.md`, `LICENSE.txt`, and `README.md`.  The lack of the license in particular is a problem for downstream packagers.  Could you please include these in the upcoming bugfix release?

[2016-10-13 19:14] goanpeca commented on #83
We will :-)

[2016-10-13 19:22] toddrme2178 commented on #83
Thanks!

[2016-10-27 16:46] goanpeca opened #85 "Add basic project documentation and example usage"
Written and edited by @CAM-Gerlach (OP was initially empty):

* [ ] Add/move general information currently contained in `__init__` docstring to the README for visibility
* [ ] Clarify that QtPy follows PyQt5 conventions, and link Qt and PyQt5 API docs
* [ ] Add examples of using QtPy in place of the specific bindings
* [ ] List/describe the methods/helpers specific to QtPy (listed in #61 )
    * [

[2016-10-27 18:36] SylvainCorlay commented on #85
FYI, readthedocs is not very good with dependencies like qt. But it now supports a conda `environment.yml`. Check out qtawesome's rtd configuration (`readthedocs.yml` + `environment.yml`).

[2016-10-28 21:02] #82 closed

[2016-10-28 21:28] #83 closed

[2016-11-09 19:20] melevine commented on #15
PySide2 is quickly approaching a releasable state.  While the product might not be officially released, the API is fairly stable and support for the module structure should be straightforward.  It is also released in some major commercial products even in it's beta state.  Considering that will be the officially support python API from the Qt foundation, it would be nice to be ahead of the game an

[2016-11-09 19:52] goanpeca commented on #15
Work is ready https://github.com/spyder-ide/qtpy/pull/84 but we need to wait for it to be officially released

[2016-11-09 23:50] Nodd commented on #15
Why wait for the official release ?

[2016-11-10 02:09] goanpeca commented on #15
To.. test it?

[2016-11-14 23:34] melevine opened #89 "QDesktopServices split into QDesktopServices and QStandardPaths"
The QDesktopServices from Qt4 has been split into two namespaces, QDesktopServices and QStandardPaths, but there is no support for QStandardPaths in QtPy.  I would expect QtPy to support code like:

`home_location = QtCore.QStandardPaths.standardLocations(QtCore.QStandardPaths.HomeLocation)`

Qt4 API
http://doc.qt.io/qt-4.8/qdesktopservices.html

Qt5 API
http://doc.qt.io/qt-5/qdesktopservices.html

[2016-11-16 02:53] ccordoba12 commented on #89
Could you create a pull request with this change? Thanks!

[2016-12-14 08:20] darkdragon-001 opened #90 "help() > modules crashes because of QtPy"
Creating a module list crashes because of QtPy version 1.1.2

Windows error message (Windows German)
[code]

[2016-12-29 21:04] goanpeca commented on #70
@mottosso maybe we need to override the QTreeView, QTableView classes so that the `__init__` method adds the patched QHeaderView.

[2017-01-01 09:16] MatthieuDartiailh commented on #78
Is this still planned ?

[2017-01-01 17:27] mottosso commented on #70
Possibly.

The trouble I've found with replacing classes with subclasses, as opposed to monkey patching, is that Qt is still returning the original classes from calls such as `.parent()` from another widget. It might not be a problem in most cases, but is a little inconsistent and perhaps unexpected at times.

[2017-01-02 17:52] ccordoba12 commented on #78
Yep, I'm working on it right now. Sorry for the delay in doing it :-)

[2017-01-02 18:54] ccordoba12 commented on #57
@tobiasgehring, could you create a pull request for this? I don't exactly understand what we're supposed to do about this one.

[2017-01-02 21:35] #75 closed

[2017-01-06 19:51] ghisvail commented on #78
Great, I'll await the new release on PyPI.

[2017-01-10 14:24] mfernezir opened #95 "upgrading qtpy from 1.1.2 to 1.2.0 breaks spyder with qt4"
If I do pip install -U qtpy, spyder crashes with the following message:

  File "/home/developer/.virtualenvs/dev3/lib/python3.5/site-packages/spyder/app/mainwindow.py", line 3001, in main
    mainwindow = run_spyder(app, options, args)
  File "/home/developer/.virtualenvs/dev3/lib/python3.5/site-packages/spyder/app/mainwindow.py", line 2905, in run_spyder
    main.setup()
  File "/home/developer/

[2017-01-10 14:59] ccordoba12 commented on #95
This has to be fixed in Spyder, not here. Could you reopen this same bug in the Spyder repo please? Thanks :-)

[2017-01-10 15:59] mfernezir commented on #95
Ok :)

[2017-01-10 15:59] #95 closed

[2017-01-15 17:43] goanpeca opened #96 "Update Appveyor Badge for new username spyder-ide"

[2017-01-15 22:36] #96 closed

[2017-01-25 01:07] eedreamer opened #99 "Anaconda Spyder Keyboard input error"
I am using tightVNC to access my server. On the server, I installed anaconda spyder and the standalone spyder respectively. The anaconda spyder has the problem to show the correct keyboard response, but the standalone spyder works just fine.
Ubuntu Linux: 16.04
Anaconda 2.7.13 :: Anaconda 4.2.0 (64-bit) | Spyder: 3.1.2 |
Qt version 5.6.2

Error Log for theAnaconda Spyder Launch
Qt: XKEYBOARD exten

[2017-02-17 15:08] ghisvail opened #100 "Random test failures on Debian infrastructure"
Forwarding a [bug](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=854496) reported to me by Santiago Vila from the reproducible builds project. He has experienced some random test failures when building packages for `qtpy` multiple times on Debian.

Tests are run at build time for all supported Python versions, via a `python -m pytest tests` on their respective build trees wrapped by a call to

[2017-02-17 15:48] ccordoba12 commented on #100
Nop, sorry.

[2017-02-26 16:35] ulricheck opened #101 "Missing: QtOpenGL Module"
I'm wondering if there is a reason why QtOpenGL is not wrapped in qtpy ?

[2017-02-26 22:12] ccordoba12 commented on #101
No special reason, just nobody has asked for it.

If you could send a pull request for it, that would great!!

[2017-04-10 22:23] MikeAnbplips opened #103 "Kernel died, restarting cycle happening very often"
I've posted some description [here](http://stackoverflow.com/questions/43328064/spyder-python-3-5-how-to-debug-kernel-died-restarting?)

While trying to run this simple GUI-based `matplotlib` script, I get a `kernel died, restarting` message, repeating 3-5 times, every other time I try to run the script.

I suspect this could be tied with `PyQt`, as I've used `Spyder` and `matplotlib` for relative

[2017-04-10 23:29] ccordoba12 commented on #103
Thanks a lot for the issue. I'm moving it to the Spyder repo, where it really belongs.

[2017-04-10 23:29] ccordoba12 commented on #103
Issue moved to [spyder-ide/spyder #4349](https://github.com/spyder-ide/spyder/issues/4349) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-10 23:29] #103 closed

[2017-04-25 00:16] bpabel opened #104 "Behavior mismatch between PyQt and PySide implementation of loadUi"
`PyQt4.uic.loadUi` provides support for custom widgets using the "Promoted Widget" feature of Qt Designer.  The convention in PyQt4 is to specify the import module path using the header file section.  For example, if `mypackage.mymodule.MyWidget` is the custom Widget, then in Qt Designer you would list the header file as `mypackage/mymodule.h` and the class name as `MyWidget` and `loadUi` would tr

[2017-04-25 00:44] ccordoba12 commented on #104
You're welcome to send a PR to fix/improve this. We provide a very simple implementation of `loadUi` for Pyside, just enough to provide compatibility with the the Glue project.

Spyder, on the other hand, doesn't use `.ui` files.

[2017-04-28 14:30] junesun opened #105 "module 'qtpy.QtGui' has no attribute 'QMainWindow'"
When running the matplotlib example "embedding_in_qt4.py"
(http://matplotlib.org/examples/user_interfaces/embedding_in_qt4.html#user-interfaces-embedding-in-qt4),I met the error as follows:

 File "embedding_in_qt4.py", line 80, in <module>
    class ApplicationWindow(QtGui.QMainWindow):
AttributeError: module 'qtpy.QtGui' has no attribute 'QMainWindow'

I have replaced the “PyQt4” by "qtpy" in th

[2017-04-28 17:39] ccordoba12 commented on #105
The right import is

    from qtpy import QtWidgets
    QtWidgets.QMainWindow

please read our Readme to read about how `qtpy` works.

[2017-04-28 17:39] #105 closed

[2017-05-06 17:10] andfoy opened #108 "Wrap QWebEnginePage's contentsSizeChanged signal on Qt5.8"
Right now the signal ``contentsSizeChanged`` brokes all compatibility with applications that depend on QWebPage's ``contentsChanged`` signal. An example of this is presented on spyder-ide/spyder-terminal#48

[2017-05-06 17:17] goanpeca commented on #108
Ok, so lets make a patch that adds the most recent signal to the classes so that don't have them and connect those two signals together if they have the signature or connect to an intermediate helper function where the signatura can be adjusted and then the signal re-emitted.

Then lets use the latest signal on our spyder code. The idea is to have the code that follows the latest Qt version

[2017-05-06 17:20] andfoy commented on #108
@goanpeca The idea is to wrap ``contentsChanged`` as ``contentsSizeChanged``, so that the last signal name prevails? _i.e.,_ On Spyder Terminal the signal should be ``contentsSizeChanged`` instead of ``contentsChanged``

[2017-05-06 17:27] goanpeca commented on #108
The idea is to include the newest signal in the old classes (Qt<5.8) so that people are encouraged to code using the latest signal. So in this case `contentsChanged` is on Qt 5.8 and before we had 1 contentsSizeChanged` ? and they do the same?

[2017-05-06 17:36] andfoy commented on #108
According to http://stackoverflow.com/questions/41966825/how-to-catch-and-handle-qtwebenginepage-content-changing both signals are different, and actually  ``contentsChanged`` was removed on 5.8

[2017-05-06 17:37] andfoy commented on #108
The reimplementation should be done at a Javascript level

[2017-05-08 03:21] #15 closed

[2017-05-08 03:26] ccordoba12 commented on #89
@rlaverde, please work on this one.

[2017-05-08 04:02] #101 closed

[2017-05-08 04:03] ccordoba12 commented on #100
Things should be working now.

[2017-05-08 04:03] #100 closed

[2017-05-08 04:04] ccordoba12 commented on #90
This was fixed in QtAwesome.

[2017-05-08 04:04] #90 closed

[2017-05-08 04:13] ccordoba12 opened #110 "Add tests for untested modules"
These modules are:

* QtDesigner
* QtNetwork
* QtOpenGL
* QtPrintSupport
* QtSvg
* QtTest

@rlaverde, you can look at `test_qtmultimedia` for inspiration. Please note that QtTest and QtDesigner are not available for PySide2.

[2017-05-08 15:33] goanpeca opened #111 "Update Readme for 1.3 release"

[2017-05-09 19:43] #89 closed

[2017-05-09 19:50] ccordoba12 commented on #111
@rlaverde, please also solve this one. You need to mention that we now support PySide2 and that it's corresponding QT_API value is `pyside2`.

[2017-05-09 20:46] #111 closed

[2017-05-09 20:48] #110 closed

[2017-05-11 05:03] AndyMender opened #116 "Python3 qtpy uses deprecated __version__ attribute from PySide"
I am running openSUSE Tumbleweed and I have the following problem:
[code]
It seems `qtpy` tries to import `__version__`, which was only available in the Python2 version of `PySide`. I had a quick `dir(PySide)` look at the available attributes and there isn't one that handles a version string.

[2017-05-11 15:11] ccordoba12 commented on #116
Ok, thanks for reporting. We'll fix this in qtpy 1.3.

[2017-05-11 15:52] ccordoba12 commented on #116
@rlaverde, please investigate this one.

[2017-05-11 15:54] ccordoba12 commented on #116
@AndyMender, by the way, Spyder **3+** doesn't work with Pyside anymore, sorry.

[2017-05-11 18:50] AndyMender commented on #116
@ccordoba12, I understand and that's fine with me, but what about the faulty import? :)

[2017-05-11 18:54] ccordoba12 commented on #116
Sure, that's a bug.

[2017-05-12 20:49] andfoy commented on #108
Closing because the signals are unrelated.

[2017-05-12 20:49] #108 closed

[2017-05-12 20:51] #77 closed

[2017-05-12 20:51] goanpeca commented on #77
Lack of response

[2017-05-12 20:52] goanpeca commented on #57
@rlaverde could you take a look at this one?

[2017-05-15 15:26] rlaverde commented on #116
I'm not able to reproduce this bug, I created a conda enviroment with python3 and PySide,and `PySide.__version__` attribute exists

Idk if maybe It only happens with OpenSuse, how did you install it? pip, conda, zypper? maybe you are using an old version of pyside

[2017-05-15 15:58] rlaverde commented on #76
This is somehow related to #115

[2017-05-15 18:31] AndyMender commented on #116
I installed Spyder3 and PySide from the openSUSE Tumbleweed repositories, making sure that both are compatible with Python3. I now tried to reproduce the error on a Debian "Stretch" (Testing) system and couldn't. As you mentioned, `PySide.__version__` exists. It must be something specific to openSUSE then.

I filed a bug report in the SUSE bug tracker so hopefully the maintainer will resolve this.

[2017-05-15 20:08] ccordoba12 commented on #116
Closing for now then.

[2017-05-15 20:08] #116 closed

[2017-05-16 01:39] goanpeca commented on #76
Yep, this is now updated, we should close

[2017-05-16 01:39] #76 closed

[2017-05-17 16:47] #57 closed

[2017-06-01 18:16] Austrianguy opened #118 "race condition: sys.stdout faster than sys.stderr"
Calls to write to stdout and stderr are not ouput to the console in the same sequence as they are called. The call to stdout often overtakes the call to stderr.
This code:
    from sys import stdout, stderr
    stderr.write("writing to stderr\n")
    stdout.write("writing to stdout\n")
prints
    writing to stdout
    writing to stderr
The same happens for this code:
    print >> stderr, "writing

[2017-06-01 18:18] Austrianguy commented on #118
I think this issue is in the wrong place here. Can someone move it?

[2017-06-01 18:20] #118 closed

[2017-06-01 18:20] Austrianguy commented on #118
duplicate of issue #3716 in spyder-ide/spyder

[2017-06-16 08:26] Nodd commented on #26
I switched most of my apps to qtpy and it works great. Swithching QFileDialog methods was a bit more painful because the method names were lowercase instead of keeping the Qt case.
I think that it would be better to patch QFileDialog as it was done with other incompatibilities. As for which version to keep, I can't find the Pyside2 documentation.
Whatever solution you choose, please use the same c

[2017-06-16 15:27] goanpeca commented on #26
@Nodd you are alive :-)

[2017-06-16 23:44] cpascual opened #119 "Importing qtpy should not raise exceptions"
Hi, qtpy is breaking code that does not even use it. This was already warned by @titusjan in https://github.com/spyder-ide/qtpy/pull/65#issuecomment-252472704

The following is a snippet where the problem is demonstrated. A PyQt4 program that does not use qtpy but imports it (perhaps it imports some other module that imports qtpy) gets broken. If the qtpy import is removed, the program reaches the

[2017-06-19 09:23] cpascual commented on #119
Just in case it helps, I created a PR (#120) that removes the exceptions.

[2017-06-19 14:15] ccordoba12 commented on #119
We didn't consider the case of having packages that only support PyQt4/5 and still wanted to use a qtpy converted package, because it kind of defeats the purpose of qtpy.

May I ask why is not possible for you to use qtpy to convert your codebase, as several other projects have done?

[2017-06-19 15:23] cpascual commented on #119
Hi @ccordoba12 ,

That's funny because precisely I saw the biggest value in qtpy for *precisely that* situation:

For example, spyder provides widgets that may be used in another library (e.g., [taurus](https://github.com/taurus-org/taurus)). But that library (or the programs which use that library) are not ready to move to PyQt5... then (as I saw it) thanks to qtpy, spyder can move on and support

[2017-06-19 15:33] cpascual commented on #119
One last thought: encouraging the users to update their code would better be done with some sort of deprecation warning rather than with exceptions...
... and even in such case, I would try to avoid patching methods (even if just for adding a warning) than may be used by people who may not even be aware that qtpy exists. IMHO patching for adding new methods is more or less ok, but modifying existi

[2017-06-26 21:56] AndydeCleyre commented on #85
Do the docs exist in some format?

[2017-07-05 14:34] Nodd commented on #26
@goanpeca Barely ! 😉

[2017-07-21 12:09] sebix commented on #116
@AndyMender

Do you have a link to the report?

[2017-07-21 17:32] AndyMender commented on #116
Apologies, I should've linked it here instantly: https://bugzilla.opensuse.org/show_bug.cgi?id=1038377
No development until now, unfortunately :(. Since I no longer have an openSUSE installation on any of my computers, I cannot tell whether the problem was fixed on their side.

[2017-07-21 18:06] sebix commented on #116
Which version of PySide did you test? I have 1.2.4 from openSUSE TW, the `__version__` variable does not exist. However, the import of qtpy and spyder3 work fine.

[2017-07-21 20:48] AndyMender commented on #116
@sebix, I have since changed my main operating system many times and I don't remember anymore. Sorry!

[2017-07-21 20:56] sebix commented on #116
Ok, then I assumed it's fixed ("works for me").

[2017-07-27 12:49] mottosso commented on #119
This is the one major difference between this project and [Qt.py](https://github.com/mottosso/Qt.py), which is used in scenarios where multiple Qt-enabled applications are running at once in the same Python interpreter; some using Qt.py, some using an original binding such as PySide, e.g. Maya, Nuke, Houdini, 3dsMax, Mari, Blender etc.

[2017-07-27 15:09] mottosso commented on #119
Wait, what happened?

[2017-07-27 15:14] goanpeca commented on #119
@mottosso advertising a library with a name that is almost the same confuses users.

[2017-07-27 16:18] cpascual commented on #119
@goanpeca : it is not my war, but I must say that I disagree with [removing @mottosso 's comment](https://github.com/spyder-ide/qtpy/issues/119#issuecomment-318392826)
While I can see that the comment may be promoting a similarly-named "competing" module ( [Qt.py](https://github.com/mottosso/Qt.py) ), IMHO @mottosso 's comment was **very** relevant to what was discussed here and it was certainly r

[2017-07-27 19:42] ccordoba12 commented on #119
@goanpeca, I don't agree with erasing @motosso's comments either. As @cpascual said, he was just pointing out to the differences between his library and ours. There's nothing bad with that.

@motosso, please accept my apologies for this and feel free to reinstate your comment. Else I will personally do it by copying it from my email.

[2017-07-27 22:48] goanpeca commented on #119
@ccordoba12 @cpascual you are all right, erasing the comment was not the right call.

My apologies @mottosso

[2017-07-28 03:32] ccordoba12 commented on #119
The erased @mottosso's comment was:

[2017-07-28 09:24] cpascual commented on #119
Thanks @ccordoba12 , and specially @goanpeca for reconsidering, apologising and reverting the erase of @mottosso's comment. It is not always easy to do.

Let's move on!

PS: I relation to the original subject of this conversation, @mottosso wrote [this](https://github.com/mottosso/Qt.py/issues/224) (and I totally agree)

[2017-07-31 22:14] goanpeca commented on #48
We should probably close this @ccordoba12 ?

Or is this something we want to further study?

[2017-07-31 22:45] ccordoba12 commented on #48
I think we should close it for now. There's no simple way for us to remove star imports right now.

[2017-07-31 22:45] #48 closed

[2017-07-31 22:49] andfoy opened #123 "Wrap QWebChannel module"
They are available on PyQt5 and PySide2 as well.

[2017-07-31 22:53] ccordoba12 commented on #123
Please don't forget to add a test for this one.

[2017-08-07 22:32] adrianog commented on #69
Hi

Thanks for both initiatives. Which one do you suggest we use at this point in time?

[2017-08-09 06:21] mottosso commented on #69
Hi @adrianog if it's me you're asking, then try both and let us know which you prefer and why!

[2017-08-09 16:08] mdeff opened #124 "Typo in readme title"
Should be "Abstraction" not "Abtraction" ;)

[2017-08-09 19:54] ccordoba12 commented on #124
Thanks for reporting.

[2017-08-09 20:27] #124 closed

[2017-08-14 19:44] adrianog commented on #69
Thank you @mottosso but I would rather form an idea reading / gathering info first. Especially on issues that might not be immediately clear just by hacking around, carring out a (simplistic) test.

Has anything changed in the last year with regard to the differences between these two projects as highlighted in this discussion? It might benefit other readers besides me.

Especially the focus for Q

[2017-08-14 20:31] mottosso commented on #69
I'm a little cautious about comparing the projects, due to my involvement in one of them, but at the very least I'm happy to say that the resolution method is similar but in a slightly different order per default.

[code]

- [Reference](https://github.com/mottosso/Qt.py/blob/adb29579e8e031744d56d3a75284faa7b9e662b6/Qt.py#L13)
- [Implementation](https://github.com/mottosso/Qt.py/blob/adb29579e8e031

[2017-08-15 11:07] adrianog commented on #69
Your elucidations seems completely unbiased, and this is a very insightful comparison. Perhaps you could consider adding this comparison to the documentation.

[2017-08-17 20:54] j9ac9k opened #127 "Add Wrapper for QtHelp [feature request]"
no problem importing QtHelp from PyQt5, but cannot import from qtpy.

No problem:

`from PyQt5 import QtHelp`

Module not found:

`from qtpy import QtHelp`

[2017-08-18 16:07] ghisvail opened #129 "Spurious cache files in PyPI tarball"
Please take extra care with your future releases by ensuring they are done from a clean source tree. The current tarball on PyPI is riddled with cache files under `qtpy/tests`.

Thanks.

[2017-08-18 19:21] ccordoba12 commented on #129
Thanks @ghisvail, we'll fix this in 1.3.1

[2017-08-18 22:14] rlaverde commented on #129
This could be fixing changing this MANIFEST.in line https://github.com/spyder-ide/qtpy/blob/master/MANIFEST.in#L5

`recursive-include qtpy/tests *`

`recursive-include qtpy/tests *.py`

[2017-08-18 22:15] ccordoba12 commented on #129
Great! Please open a PR about it.

[2017-08-18 23:00] rlaverde commented on #129
I was wrong, after some testing I realize that is not the problem, I don't know what  the error could be, maybe we could add something like `find . -name '*.pyc' -delete` to the release instructions in the meanwhile 😞

[2017-08-19 18:02] ghisvail commented on #129
You need a combination of both, i.e. a filter in MANIFEST.in which is restrictive enough, plus a release process which ensures that the tarball is generated from a clean environment. I can help for the former (PR to follow shortly), but the latter is in your hands.

[2017-08-19 18:14] ccordoba12 commented on #129
There's a git command that removes all files not under version control. I'll add it to our release notes to prevent this in the future.

[2017-08-19 18:23] #129 closed

[2017-08-19 18:41] #119 closed

[2017-08-21 07:53] ghisvail commented on #129
Indeed, a `git clean -fd` prior to running `python setup.py sdist` should be enough.

I'll update the Debian package with version `1.3.1` then.

[2017-08-21 16:52] ccordoba12 commented on #129
@ghisvail, I just released `1.3.1`.

[2017-08-21 21:13] phargogh commented on #89
Hey everyone, when I `pip install "qtpy>1.3"` and set `QT_API=pyqt4`, the only attributes available in the  `QtCore.QStandardPaths` module are the data attributes for the locations the class/enum `StandardLocation` and `displayName(...)`.  Other methods defined by QStandardPaths are missing, most notably the methods that are really helpful for transforming standard paths to actual paths such as `Q

[2017-08-21 23:58] ccordoba12 commented on #89
@phargogh, please open a new issue about it.

[2017-08-24 04:22] phargogh opened #131 "Methods missing from QStandardPaths when QT_API=pyqt4"
Hi everyone, when I `pip install "qtpy>1.3"` and set `QT_API=pyqt4`, the only attributes available in the  `QtCore.QStandardPaths` module are the data attributes for the locations the class/enum `StandardLocation` and `displayName(...)`.  Other methods defined by QStandardPaths are missing, most notably the methods that are really helpful for transforming standard paths to actual paths such as `Qt

[2017-08-24 13:42] ccordoba12 commented on #131
Sorry for this. Could you give us a list of all missing methods in PyQt4?

[2017-08-24 13:52] rlaverde commented on #131
I think that methods aren't available in Qt4 at all. The `QStandardPaths` was part of `QDesktopServices`, but that methods/attributes that you mention were introduced in Qt5

http://doc.qt.io/qt-4.8/qdesktopservices.html
http://doc.qt.io/qt-5/qdesktopservices-obsolete.html

[2017-08-24 21:51] phargogh commented on #131
Yes, I realize that these methods/attributes were changed in the API migration from Qt4 to Qt5.

Here's my problem: I need to be able to access the CacheLocation path from both qt4 and qt5.  In qt4, this is via `QtGui.QDesktopServices.storageLocation()`.  In qt5, this is via `QtCore.QStandardPaths.writableLocation()`.

With `qtpy<1.3`, the following code snippet works fine with either `QT_API=pyqt

[2017-08-24 23:45] rlaverde commented on #131
I open a PR addressing the different problems:

Yes, this is a bug, I fixed it in the PR, you will be able to use `QtCore.QStandardPaths.writableLocation`

I re-expose all the `QDesktopServices` old methods, and add a warning instead, although displayName should be available in `QtCore.QStandardPaths.displayName`

[2017-08-25 23:51] phargogh commented on #131
Awesome, thanks so much!

[2017-09-25 05:48] daegontaven opened #134 "QScintilla Support"
I would appear that the Qsci python port in PyQt5 is not supported in QtPy. Is this because it is not supported yet on the other bindings ?

[2017-09-25 14:28] ccordoba12 commented on #134
Yes, that's the reason.

[2017-11-09 16:34] daniel-edler opened #135 "Add Wrapper for QtSql [feature request]"
I guess/hope the implementation for QtSql is pretty straight forward and similar to QtSvg. Thanks in advance.

[2017-11-09 16:43] goanpeca commented on #135
@daniel-edler would you be interested in submitting a pull request?

[2017-11-09 16:46] daniel-edler commented on #135
Sure, if you can wait a day

[2017-11-09 16:50] goanpeca commented on #135
@daniel-edler we have all the time in the world :-), its sure request after all ;-)

[2017-11-14 20:46] daniel-edler commented on #135
Sorry, but I'm a bit busy these days. Actually I "just" have to sync and start a pull request but first I have to read the instructions again. Once in a year (or two) isn't enough to remember the procedure

[2017-11-28 15:01] #135 closed

[2017-12-26 17:20] #131 closed

[2018-01-03 15:35] boegel opened #137 "missing PyQt5 modules using PyQt5 5.9.2 and Qt5 5.8.0"
When trying to run `Spyder` installed on top of PyQt5 5.9.2 and Qt5 5.8.0, I'm running into errors as mentioned below.

`QtWebKit ` was removed in Qt5 5.6.0, see http://wiki.qt.io/New_Features_in_Qt_5.6#Removed_Modules

What's the recommended workaround/fix for this (other than using an older version of `Qt5`)?

[code]

[2018-01-03 16:04] ccordoba12 commented on #137
You need either QtWebKit or QtWebEngine to run Spyder. It seems you have none of them.

[2018-01-04 12:27] boegel commented on #137
@ccordoba12 Any idea whether QtWebEngine is supposed to be part of Qt5 (by default)? Trying to figure out what's wrong...

[2018-01-04 15:13] ccordoba12 commented on #137
It is by default. Closing this one because it's an installation problem in your side and it has nothing to do with qtpy.

[2018-01-04 15:13] #137 closed

[2018-01-30 07:30] anntzer opened #138 "If one binding has already been imported, then qtpy should just use it"
Consider, for example, a system where solely pyqt4 and pyqt5 are installed.  If one does
[code]
this fails with
[code]
(even though obviously there is a Qt binding available) because PyQt4.QtGui cannot be imported at all after PyQt5.QtGui has already been imported.

Fortunately there is an easy solution, which is to check, before doing anything else, whether PyQt4/5/PySide/2 are already present in

[2018-01-30 12:57] ccordoba12 commented on #138
Could you submit a pull request for this? We have no problem to include it in our next release.

[2018-01-30 15:36] anntzer commented on #138
will do (... at some point...)

[2018-02-13 22:31] #138 closed

[2018-03-11 21:30] #127 closed

[2018-03-19 03:47] seedt8 opened #141 "spyder is not a GUI builder at all"
I mean, seriously, guys? The world does not need another underfunded glorified vim or MS-DOS 2.0 "edlin.exe" , which spyder is, what pythonistas want is a true GUI builder, if you know what I am talking about.

If you deliver that, I will donate. But I do not need a vim+ and even donate tons of dough for that.

[2018-03-19 14:24] CAM-Gerlach commented on #141
Welcome to Github! You are exactly right, it's not one—it's a Scientific Python Development EnviRoment. Thanks for pointing that out.

[2018-03-19 14:24] #141 closed

[2018-03-19 21:39] ccordoba12 commented on #141
You could try TraitsUI or ipywidgets for that. Spyder is not meant to create scientific GUI interfaces.

[2018-04-17 14:36] goanpeca opened #142 "On OSX qtpy applications are forcing discrete graphics"
Based on https://github.com/ContinuumIO/anaconda-issues/issues/3679 it seems that even when using the `Supports Automatic Graphics Switching` Option as described on https://stackoverflow.com/questions/17893849/qml-causing-switch-to-discrete-graphics, the applications seem to switch to discrete GPU.

I created a test app on OSX based on a example.

## Using PyQt5
[code]

<img width="1011" alt="scre

[2018-04-17 16:47] mingwandroid commented on #142
After updating your info.plist did you remember to re-register it with the OS?

[2018-04-17 16:55] goanpeca commented on #142
Nope, but for the test app I created I found what the issue was with qtpy

[2018-04-17 17:10] mingwandroid commented on #142
Oh cool, what was it?

[2018-04-17 17:13] goanpeca commented on #142
Quite simple https://github.com/spyder-ide/qtpy/pull/143/files

We were asking for the version on `PyQt5.Qt` which imports a lot of stuff (lazily I guess) but in that process it imports some modules that need the GPU and hence the whole app enters that mode until it quits.

Importing from `PyQt5.QtCore` instead of `PyQt5.Qt` solved the issue :-p

[2018-04-17 17:52] mingwandroid commented on #142
Great, should probably load a lot faster too?

[2018-04-17 20:17] #142 closed

[2018-04-17 20:18] ccordoba12 commented on #142
Probably.

I'll release 1.4.1 with this fix later today or tomorrow.

[2018-04-20 03:30] kailunfan opened #144 "ValueError: API 'QString' has already been set to version 1 at line 141 in __init__.py file."
[code]
Everything is OK after I  alter ```except AttributeError:``` to ```except ValueError:``` .

Pls: It is happend on PyQt4 (4.11.4).

[2018-04-23 20:59] dpizetta opened #145 "Raise a warning if QT_API value is changed automatically"
Maybe that is a good idea to raise a warning or even a logging warning informing changes in QT_API set by the user. Saying that is not available and it was changed to next available on the list.

Ex.: If I set QT_API to pyside2 and there is no pyside2, qtpy set it to pyside, it is ok, but if I do not check the value for QT_API again, I don't know it was changed.

What do you think?

[2018-04-25 00:35] ccordoba12 commented on #145
It's a nice idea and I agree with it.

A warning is ok. Do you mind to create a pull request for it?

[2018-04-25 19:55] dpizetta commented on #145
I will create :)

[2018-04-25 20:48] dpizetta commented on #145
I need an option:

- This should not stop the execution, so we do not raise an exception;
- Using warnings.warn('Selected binding "INITIAL_QT_API" could not be found, changing to "ACTUAL_QT_API"'., RuntimeWarning)

Is this ok?

[2018-04-26 20:54] ccordoba12 commented on #145
Agreed. Please don't generate an exception.

Good message. +1 from me.

[2018-04-29 05:38] stonebig opened #150 "PySide2-5.11 alpha2 compatibility"
apparently, "QStringListModel" will move back to QtCore (its normal position) in alpha2, so we may remove yesterday first QtPy patch (or put a "try + except")
https://codereview.qt-project.org/#/c/222495/

[2018-04-29 15:47] #150 closed

[2018-05-06 13:01] kailunfan commented on #144
Sorry for my vague expressions. It happens like this.
[code]

[2018-05-06 20:51] ccordoba12 commented on #144
I see what you mean now. I'll fix this for our 1.4.2 version.

[2018-05-10 19:31] stonebig opened #153 "Shim PyQt5 ToPyDateTime for compatibility with PySide2"
I fail on this problem:
- on PyQt5 we have QtCore.QDateTime.toPyDateTime()
- on PySide2 we have QtCore.QDateTime.toPython()

==> Is it manageable in QtPy ? (making .QDateTime.toPyDateTime() redirect to .QDateTime.toPython(), when PySide2 ?

[2018-05-10 19:54] stonebig commented on #153
same issue for PySide2.QtCore.QDateTime.toPyDate

seems to be also replaced per    .QDateTime.toPython()

[2018-05-10 20:09] ccordoba12 commented on #153
Yes, we can handle it. Please take a look at how we do it for `pyqtSignal`/`pyqtSlot`:

https://github.com/spyder-ide/qtpy/blob/master/qtpy/QtCore.py#L18

[2018-05-10 20:14] stonebig commented on #153
I may not have the needed skill to do it in a refined way. See my "hammer style" compatibility patch in guidata : https://github.com/PierreRaybaut/guidata/pull/46

[2018-05-10 20:19] ccordoba12 commented on #153
Ok, I'll do it.

[2018-05-10 20:39] stonebig commented on #153
thanks.

[2018-05-10 20:45] stonebig commented on #153
trying to make guiqwt compatible, I apply the same hammer patch on PythonQwt than on guidata, and I fall on a curious

"from qwt.qt.QtCore import Qt, QRect, QPoint, QT_VERSION"

==> my hammer technic it really not so perfect. I don't know if it's possible to salvage Pierre's legacy work.

[2018-05-10 20:57] ccordoba12 commented on #153
I think you should be better by:

* Forking Pierre's projects and maintain them yourself.
* Use qtpy instead of Pierre's own shim, so we can help you here with support for PySide2.

[2018-05-21 14:31] dpizetta opened #154 "Circular attempt for bindings"
Hi, I'd like to implement a change for setup the binding in a circular form. Here is an example.

If the preference list is [pyqt5, pyside2, pyqt, pyside]:
- choosing pyqt, if it is not found, it should try pyside, pyqt5, pyside2;
- choosing pyside2, if it is not found, it should try pyqt, pyside2, pyqt5;

I think this would improve the auto setup and even the message that the "qtpy.PythonQtError:

[2018-05-21 15:05] goanpeca commented on #154
@dpizetta it sounds like a good idea :-) @ccordoba12 ?

[2018-05-21 15:08] goanpeca commented on #154
I would add that we need to add an else check so that if the last item in the list is not found, it should say something regarding that, instead of saying that it failed to use whatever binding check came last. Pyside at the moment, which is misleading

[2018-05-21 15:15] ccordoba12 commented on #154
@dpizetta, I like it! But things should not be circular. Instead we should always prefer the bindings for the same Qt major version, then the other ones. And the PyQt bindings should be preferred over the PySide ones because they are more stable.

So, according to what you post above:

* choosing pyside, if it is not found, it should try pyqt, pyqt5, pyside2;
* choosing pyqt, if it is not found, i

[2018-05-21 17:28] dpizetta commented on #154
Hi @goanpeca , @ccordoba12 thank you. I agree with your comments. Implementing this proposal also include the additional feature from @goanpeca. I'll post PR soon.

[2018-05-21 17:30] goanpeca commented on #154
Thanks @dpizetta :-) !

[2018-05-25 21:04] dpizetta commented on #154
@goanpeca  > **Just for context, is there any particular issues on your side that would directly benefit from this? Like an example of what was the problem?**
Sorry, I miss this question. The main problem is: if you choose the last one, i.e PySide, but it is not installed, it wouldn't try the other ones. So I think it should be nice to have this feature. In addition, I would like to add some funct

[2018-05-25 22:45] ccordoba12 commented on #154
I think what he meant is that if all four bindings are tried and none is found, then `qtpy` should print a message saying precisely that.

If that happens right now, then we're printing a message about the lack of PySide (the last binding we look for its presence), which confuses users because they think they need to install PySide (to fulfill Spyder requirements, for example).

[2018-05-26 15:52] ccordoba12 opened #155 "Add warnings for Qt 5.9 in macOS 10.9 and Qt 5.11 and macOS 10.11"
* Qt 5.9 only works in macOS 10.10+
* Qt 5.11 only works in macOS 10.11+

[2018-06-11 18:09] jschueller commented on #123
#157

[2018-06-11 20:44] #123 closed

[2018-06-13 19:35] samsri08 opened #164 "Spyder not working"
I have recently installed Anaconda on my system.
All other apps are working fine but spyder is not working.
When I open it a black window like this appears.
![image](https://user-images.githubusercontent.com/40247419/41373823-0c9cdf54-6f6f-11e8-9308-b2496775c247.png)

[2018-06-13 20:49] ccordoba12 commented on #164
This is not the right place to open this bug, this is:

https://github.com/spyder-ide/spyder/issues

So I'm closing it. Please reopen it there.

[2018-06-13 20:49] #164 closed

[2018-06-18 06:02] kiwi0fruit opened #165 "PyQt GPL "infecting" even when using PySide backend"
There happened a useful [conversation on Reddit](https://www.reddit.com/r/Python/comments/8rpg23/pyappshare_cookbook_for_creating_crossplatform/) about publishing python apps that depend on PySide and MIT/BSD wrappers around PySide/PyQt like qtpy/pyqtgraph/matplotlib. [Backup of the discussion](https://github.com/kiwi0fruit/pyappshare/files/2110002/pyappshare_reddit.zip).

According that conversat

[2018-06-18 06:04] kiwi0fruit commented on #165
I guess https://github.com/spyder-ide/qtpy/blob/master/qtpy/__init__.py can be easily fixed so that will not try import pyqt when it has PySide QT_API env var.

[2018-06-18 08:41] kiwi0fruit commented on #165
qtpy passed all checks so nothing is needed to do.

[2018-06-18 08:41] #165 closed

[2018-06-24 14:00] machinekoder commented on #85
A simple example in the README would work as well.

[2018-07-27 02:12] altendky opened #166 "Maybe don't import PyQt5.Qt"
https://github.com/spyder-ide/qtpy/blob/d53db43e11200ee9324f399504c8a97d2432658c/qtpy/tests/conftest.py#L38
(and other similar)

This imports all the modules including bluetooth which has issues on Win8.1 + PyQt5 >= 5.10 it seems.  Just using regular imports (`PyQt5.QtCore` for example) let's you not import bluetooth and avoid this.

Given that this is in a test file I don't obviously see the conn

[2018-07-27 03:09] ccordoba12 commented on #166
That's the only one right now, and it's used in a pytest config file (so, not part of the package itself).

----

The problem you mention was fixed in PR #143, merged and released in our 1.4.1 version. Please update if you're using an older version.

[2018-07-27 03:09] #166 closed

[2018-08-25 06:09] raidsan commented on #76
not use spyder,  just want to use PyQt4, PyQt5 compatible,  if you delete pyqtSignal and pyqtSlot and use SIgnal/Slot in spyder way,  why not rename the project to spyder-qt ?

[2018-08-25 11:39] ccordoba12 commented on #76
Where in this discussion do we say that we decided to use Signal and Slot due to Spyder? The only mention to Spyder is yours.

[2018-08-25 18:06] #155 closed

[2018-08-25 18:54] #153 closed

[2018-08-25 20:04] stonebig commented on #153
thanks!

[2018-08-29 21:26] astrofrog opened #170 "Can't catch PythonQtError"
I want to do something like:

[code]

and have this also catch the case where PyQt5 or PySide aren't installed. However, in those cases the exception is ``PythonQtError`` rather than ``ImportError``. However, I can't catch ``PythonQtError`` because I can't do ``from qtpy import PythonQtError`` since QtPy won't import...

Since I don't watch to just catch ``Exception``, could ``PythonQtError`` be m

[2018-08-31 18:04] ccordoba12 commented on #170
Sure, good idea. Please create a PR for this.

[2018-09-18 08:54] matthew-d-jones opened #172 "Support for Qt3D"
I assume Qt3D is not wrapped as for PyQt5 the bindings are distributed as a separate package. Is this the case? Is there any plan to eventually wrap Qt3D or other separate components like QtDataVisualization?

[2018-09-18 13:40] ccordoba12 commented on #172
There are no plans, but you're welcome to submit a PR to add those components. But are they supported by PySide2 besides PyQt5?

[2018-09-18 13:50] matthew-d-jones commented on #172
Yes, both Qt3D and QtDataVisualization are supported by PySide2.

[2018-09-18 13:55] ccordoba12 commented on #172
Then please go ahead for it!

It's very simple, please take a look at pull request #157 to see how to do it.

[2018-09-18 16:06] ccordoba12 commented on #170
I was not able to make it a subclass of ImportError because we use ImportError to go through all bindings and select one.

However, I'll inherit PythonQtError inherit from RuntimeError, which will make it easily catchable.

[2018-09-18 16:44] #170 closed

[2018-09-18 22:46] astrofrog commented on #170
Sounds good, thanks!

[2018-10-01 10:46] cpascual commented on #26
I personally think that qtpy should **not** patch the imported Qt objects. The rationale is the same as I already expressed in #119 : side effects for people not even using qtpy should be avoided at all costs.

[2018-12-13 15:46] redstoneleo opened #177 "from qtpy.QtWebEngineCore import * ModuleNotFoundError: No module named 'qtpy.QtWebEngineCore'"
from qtpy.[QtWebEngineCore ](http://pyqt.sourceforge.net/Docs/PyQt5/api/QtWebEngineCore/qtwebenginecore.html#PyQt5-QtWebEngineCore-QtWebEngineCore)import *

ModuleNotFoundError: No module named 'qtpy.QtWebEngineCore'

[2018-12-27 12:30] emcek opened #178 "Error when import QtCore.__version__ in PySide2"
I think found small issue:
* pyqt5 - QtCore.QT_VERSION_STR
* pyqt4 - QtCore.QT_VERSION_STR
* pyside2 - PySide2.\_\_version\_\_
* pyside - PySide.\_\_version\_\_ (didn't check it)

So, it will work only form PyQt{4,5}:
[code]
I belive in `qtpy.QtCore.py` in pyside sections we need import symbol from `PySide.__init__.py`

[2018-12-28 13:19] emcek commented on #178
gui_test.py
[code]
with: `QT_API=pyqt5`:
[code]
with `QT_API=pyside2`:
[code]
Because in PySide2:
[code]
And in PyQt5:
[code]
Take a look:
https://github.com/spyder-ide/qtpy/blob/master/qtpy/QtCore.py#L21
and:
https://github.com/spyder-ide/qtpy/blob/master/qtpy/QtCore.py#L30

So basically qtpy/QtCore.py just add:
[code]
in PySide2 section

https://github.com/spyder-ide/qtpy/blob/master/qtpy/QtCore

[2018-12-28 18:46] ccordoba12 commented on #178
Ok, I see. It should be an easy fix.

Would you like to submit a pull request?

[2019-01-10 22:31] #178 closed

[2019-01-25 14:20] dpizetta commented on #154
Any date for this milestone?

[2019-01-25 14:57] ccordoba12 commented on #99
This has nothing to do with qtpy.

[2019-01-25 14:57] #99 closed

[2019-02-16 19:33] hmaarrfk opened #184 "uic tools"
I forget why, but I had to compile my uic files to python files.

I basically adapted the pyside2-tools and made them spit out `qtpy` everywhere.

I just wanted to cross post it here in case it is useful to anybody

https://github.com/hmaarrfk/qtpy-tools

Installable through conda-forge
https://anaconda.org/conda-forge/qtpy-uic

[2019-02-17 11:54] ccordoba12 commented on #184
Would you like to merge your work with qtpy or do you prefer to maintain it in a separate project?

[2019-02-17 13:08] hmaarrfk commented on #184
unfortunately it is gpl license due to the liccense of the original work.

[2019-02-17 13:08] hmaarrfk commented on #184
otherwise, i have no issues

[2019-02-17 13:17] ccordoba12 commented on #184
Ok, I see. Thanks for the info anyway, hopefully other people that follows this repo will find it useful.

[2019-02-17 13:17] #184 closed

[2019-02-17 13:29] hmaarrfk commented on #184
yep, that was mostly my goal!

[2019-03-05 07:55] jimbo1qaz commented on #124
Still broken on https://pypi.org/project/QtPy/

[2019-05-05 18:58] goanpeca commented on #154
@ccordoba12 do we have an estimated date, or is this the next major one?

[2019-05-05 22:18] ccordoba12 commented on #154
As soon as someone reviews PR #156. @goanpeca, can you take care of that?

[2019-05-05 22:31] goanpeca commented on #154
Sure will do :-)

[2019-05-30 10:32] Winand commented on #104
Why doesn't this project use `loadUi` from `pyside2uic` module?

[2019-05-30 12:26] Winand opened #190 "uic.compileUi for PySide2"
I think `compileUi` can added smoothly for PySide2. `pyside2uic.compileUi` has almost the same interface as PyQt's analogue.

Now I use monkey-patching in my project:
[code]

[2019-06-12 11:14] #172 closed

[2019-06-28 02:30] JasonGilholme opened #192 "Binding Selection Logic"
Hi,

In reference to [this section of code](https://github.com/spyder-ide/qtpy/blob/master/qtpy/__init__.py#L118), I was wondering what the reason is for the logic that makes the binding selection ignore the env var when a binding has already been imported.

In our situation, we're integrating tools into existing applications for the purpose of creating VFX.  These applications are built with Qt4/

[2019-06-28 18:18] ccordoba12 commented on #192
I don't understand your request very well. Do you want the same application to load and use both PySide and PyQt at the same time? Because that's precisely what qtpy is trying to avoid by using the already imported bindings instead of following QT_API.

I don't understand what you mean by this. Could you explain it better?

We're not going to change bindings in qtawesome to use Qt.py or to allow a

[2019-07-01 10:15] JasonGilholme commented on #192
Hey @ccordoba12,

In short, yes, we do need to be able to load PySide and PyQt in the same environment.

This works perfectly fine providing that they're both build against the same version of Qt, and you keep your PyQt references away from your PySide references.  I've attached a simple example to play with, but you'll need matching builds of PySide and PyQt to run it.

Regarding changes, I reall

[2019-07-03 21:46] cherryleafroad opened #193 "QtWinExtras not supported"
For example `from qtpy.QtWinExtras import QtWin`. This functionality would be very useful

https://doc.qt.io/qt-5/qtwinextras-index.html

[2019-07-04 15:18] ccordoba12 commented on #193
Please open a pull request and add it (it's really bery simple)- You can see previous pull requests to see how to do it, for instance #191.

[2019-07-04 16:35] cherryleafroad commented on #193
Unfortunately don't have the time

[2019-07-04 17:00] ccordoba12 commented on #193
We neither, sorry.

[2019-07-04 17:13] cherryleafroad commented on #193
That's ok. This is just here for future. Keeping a reference on things :) Thanks for your work and time :) Cheers

[2019-07-05 16:57] ccordoba12 commented on #192
Ok, thanks for explaining things better. Unfortunately we don't have time nor the need to address this, so pull requests are welcome to fix this.

[2019-07-05 21:29] goanpeca opened #195 "Errors in the Qt3D modules with PySide2 5.12.4+ and Python 2"
From https://github.com/spyder-ide/qtpy/pull/194#issuecomment-508862786

Latest run of master: https://circleci.com/gh/spyder-ide/qtpy/692

[2019-07-06 13:32] ccordoba12 commented on #195
@jschueller, could you help us with this one? Thanks!

[2019-07-14 09:18] jschueller commented on #195
seems like a shiboken bug in python 2.x, it goes fine if I add ".copy()" inshibokensupport/signature/mapping.py:233
[code]

[2019-07-14 09:33] ccordoba12 commented on #195
How do PySide2 releases work? Do you think this is going to be available in 5.13.1?

I say it so we can skip the test for the right versions.

[2019-07-14 09:39] jschueller commented on #195
The change is against for the 5.13 release branch, if accepted it could be in the next.
Let's hear what they say first, I will keep you posted.

[2019-07-14 09:41] ccordoba12 commented on #195
Ok, thanks! We need to skip this so our test suite pass again. For now I'll do it for 5.13+, and when the fix is accepted we can change it accordingly.

[2019-07-14 09:50] ccordoba12 commented on #195
Sorry, the right skip was simply for Python 2.

[2019-07-14 11:23] #195 closed

[2019-07-18 10:05] machinekoder opened #197 "QtTest imports are incomplete"
The QtTest module is missing all the relevant imports including for `QSignalSpy`. It looks like it only import QTest. https://github.com/spyder-ide/qtpy/blob/master/qtpy/QtTest.py

[2019-07-18 11:12] ccordoba12 commented on #197
You're welcome to help us with this, along with improving our tests for QtTest.

[2019-07-19 10:53] jschueller commented on #195
@ccordoba12 do you know if pytest uses threads to run these tests ?

[2019-07-19 11:50] ccordoba12 commented on #195
I think it runs them serially, unless you're using `pytest-xdist`.

[2019-07-19 12:00] jschueller commented on #195
ok, thanks

[2019-07-20 06:30] jschueller commented on #195
@ccordoba12 the fix got merged

[2019-07-20 06:59] ccordoba12 commented on #195
Great! Is it part of an actual release?

[2019-07-20 07:14] jschueller commented on #195
Probably for 5.13.1

[2019-07-20 07:58] ccordoba12 commented on #195
Ok, please let me know the correct release the fix is going in, so we can fix things in our side.

[2019-07-23 10:01] #192 closed

[2019-09-20 14:57] milanmatic opened #198 "PyQt4-sip==4.19.13 not supported"

[2019-10-18 08:10] jschueller commented on #195
@ccordoba12 I confirm it got into v5.13.1
Looks like its going to be in 5.12.6 as well

[2019-10-22 04:40] vipbaodao opened #200 "Hi~Where is the tutorial of this awesome project?"
Hi, great author! Thanks for writing this exciting package! I want learn the useage of it, is there a tutorial of it? I can't find it by Google.

[2019-10-22 04:48] goanpeca commented on #200
No there is not, we probably should make one.

In the meantime the idea is simple. Please read this: http://docs.glueviz.org/en/stable/developer_guide/qt_development.html#using-qtpy

[2019-10-22 04:52] ccordoba12 commented on #195
Ok, let's wait to see if it's included in 5.12.6

[2019-10-27 10:25] johndoe46 opened #201 "Missing QWebEngineProfile from QtWebEngineWidgets"
Hello,

I'm trying substitute PySide2 with qtpy on an existing project, but apparently QWebEngineProfile is not here:

`ImportError: cannot import name 'QWebEngineProfile' from 'qtpy.QtWebEngineWidgets'`

I guess it's all about this file: https://github.com/spyder-ide/qtpy/blob/master/qtpy/QtWebEngineWidgets.py#L20 ?

[2019-10-27 21:58] ccordoba12 commented on #201
Please add `QWebEngineProfile` to PYQT5 and PYSIDE2 in that file. That should be enough.

[2019-10-27 21:59] ccordoba12 commented on #201
I mean, please open a pull request with that change so we can merge it.

[2019-11-26 19:08] aagoodman commented on #200
Do you mean a dev tutorial,  or a user one? If the latter, and you want something long, you can try https://seamlessastronomy.org/presentations/goodman-glue-orion-and-you.  Shorter demos are at http://glueviz.org, and we're working on video tutorials meant for new users & developers too--sorry--will post more soon!

[2020-01-07 17:08] astrofrog opened #206 "DeprecationWarning for getchildren"
I'm running into a deprecation warning with PyQt5 5.14:

[code]

I guess the key here will be to figure out if it's safe to always iterate over ``custom_widgets`` directly or whether some older versions of PyQt and PySide need the explicit call to ``getchildren``.

[2020-03-10 13:40] tirkarthi commented on #206
I have created #204 fixing this and another deprecation warning.

[2020-03-12 21:23] goanpeca commented on #206
Thanks for working on this @tirkarthi added a comment over there.

[2020-03-12 21:23] goanpeca commented on #206
@ccordoba12 is this a 1.x fix or a 2.x fix?

[2020-03-18 03:02] luojunyuan opened #210 "Seems qtpy not support windows flags in QtCore.Qt ?"
![image](https://user-images.githubusercontent.com/28323948/76920362-4796b200-6906-11ea-943a-8c40819ce217.png)

In the screenshot, pycharm can't recognize these flags but program goes well.
use `from PyQt4.QtCore import Qt` is ok

And I have another question.
I'm using PyQt4.8 in my project. I use `QDeclarativeView` to create a qml windows. But in Qt5 it changed to `QQuickView` with another base c

[2020-03-18 21:53] goanpeca commented on #210
@luojunyuan feel free to make a PR with the changes you suggest.

[2020-04-08 13:02] luojunyuan commented on #210
oh, about the QtCore.Qt module I think it's a mistake made by PyCharm. Nothing wrong now

[2020-04-08 13:02] #210 closed

[2020-04-15 10:37] max3-2 opened #212 "qtpy QtWebEngineWidgets fallback fails"
There seems to be an issue when importing WebEngineWidgets using a remote desktop Win10 (off-topic, but anyone an idea?). While this is not qtpy related, the fallback import for qtpy also fails because `PyQt5.QtWebKitWidgets` seems to be missing consistently (tried on different machines) independently of the initial error.

[code]

[2020-04-15 12:43] max3-2 commented on #212
Ok this seems to be something deeper - I do see more and more windows installations where pyqt5 is missing the QtWebEngineWidgets. Installation is a simple pip installation - can someone confirm?

The missing `PyQt5.QtWebKitWidgets` is ok since its deprecated for quite some versions now

[2020-05-05 01:13] #68 closed

[2020-05-05 01:50] #198 closed

[2020-05-05 15:12] goanpeca commented on #212
Maybe you need to install https://pypi.org/project/PyQtWebEngine/ ?

[2020-05-14 19:21] srevinsaju opened #213 "Fix CI / Remove older CI"
Hello
Great Project!!

I wanted to know if its possible to fix the CI or remove older / deprecated CI; Because the :x: near the commit, somehow makes it feel there are a lot of bugs in `qtpy`, while there might not be much errors.

(If you feel this is not an important issue to be discussed; feel free to close it. Thanks)

[2020-05-14 19:25] goanpeca commented on #213
There is a PR moving everything to github actions.

https://github.com/spyder-ide/qtpy/pull/208

We just need to update it, but that will not happen for a few days.

[2020-05-14 19:26] srevinsaju commented on #213
Hmm, ok; Thanks for the quick response

[2020-06-13 19:30] j9ac9k commented on #190
With PySide2 5.14.2.2 pytside2-uic was brought back, we had to re-incorporate it in pyqtgraph, you can see the diff too re-enable that in our abstraction layer here:

https://github.com/pyqtgraph/pyqtgraph/pull/1211/files#diff-ef920af841b22fdd54535d097f2b8b24

[2020-07-08 12:40] altendky opened #216 "Support type hints and mypy"
I am just starting into this but figured I'd get a ticket in sooner than later.  Hopefully supporting type hints requires pretty minimal effort in qtpy since it is just (primarily?) a pass through library.  I have had at least preliminary success by adding a [`py.typed` file](https://www.python.org/dev/peps/pep-0561/#packaging-type-information) and then using [mypy's `--always-true` and `--always-

[2020-07-09 00:26] altendky commented on #216
Or maybe a mypy plugin could do this and would make more sense?  I'll have to look into that.

[2020-10-29 19:56] pllim opened #220 "MNT: Stop using ci-helpers in appveyor.yml"
To whom it may concern,

If you are using https://github.com/astropy/ci-helpers in your appveyor.yml , please know that the Astropy project has dropped active development/support for Appveyor CI. If it still works, good for you, because we did not remove the relevant files (yet). But if it ever stops working, we have no plans to fix anything for Appveyor CI. Please consider using native Windows su

[2020-11-17 15:50] hiaselhans opened #222 "Imported modules are not respected"
I found an issue with qtpy:

when i already have pyside2 imported somewhere it doesn't pick pyside2 but some other implementation.

I think this line has the wrong bool check:
https://github.com/spyder-ide/qtpy/blob/673fb93f5c126c6af1c2cb455da95c7e8b82cc62/qtpy/__init__.py#L119-L129

i think that logic should evaluate if FORCE_QT_API __is__ None

[2020-12-02 01:29] dj-kyle-roseberry commented on #200
Hello devs,
I see in the readme that it is possible to change default from pyqt5 to pyside2. Is there a tutorial or example on how to do that?

[2020-12-18 23:35] altendky opened #226 "If I were to help... what would you want done?"
To be blunt, I'm interested in getting #217 merged and released...  but, I would be happy to work on whatever \_you\_ want worked on if it might hopefully eventually lead to some form of what I want.  `:]`  Need some help with #208?  Maybe something in another project?  Or do the work of reviewing other people's PRs here?  Just let me know if there's something I can do to help start QtPy moving a

[2021-01-19 22:24] amirhosseindavoody opened #229 "Pyside6 support"
Does `qtpy` support the newly released `pyside6` package?

[2021-02-04 11:25] hiaselhans commented on #222
ping @goanpeca @altendky

i thiink this is quite obvious

[2021-02-04 22:00] altendky commented on #222
I agree that it seems odd and counter to the comment.

https://github.com/spyder-ide/qtpy/blob/673fb93f5c126c6af1c2cb455da95c7e8b82cc62/qtpy/__init__.py#L117-L118

Yet the contents of the `if` is run when `FORCE_QT_API` is set and the contents looks at what has been imported instead of disregarding it.  Simple enough to make them match but `FORCE_QT_API` isn't documented and this has been this way

[2021-02-08 11:35] hiaselhans commented on #222
hi @altendky

thx for your comments.
To me it's clearly a bug. i can file a pr if it helps.

Here is what happened on my side:
I am using a small library which is itself depending on qtpy for generic imports.
So, i am using pyside2 but not setting `FORCE_QT_API` leads to the logic detecting my previously imported pyside2 being skipped.
The only way to make it work in my project is to `os.environ.s

[2021-02-08 13:06] altendky commented on #222
I didn't mean to be dragging my feet on fixing an issue.  I just have no more authority here than you do.  So, there's only so much use in me jumping in.

[2021-02-20 06:39] xingrui94 opened #231 "Is there documents or tutorials for QtPy?"
Is there documents or tutorials for QtPy?

[2021-02-28 16:38] hiaselhans commented on #222
sorry @altendky for dragging you into this. :)
i only checked recent commits, found and tagged you....

but, still looking at a way to proceed:

with #230 set up, who can i ping then? I'd really like to see this Bugfix upstream because some libraries depend on qtpy and i'd like to get rid of os.setenv's...!

[2021-02-28 18:52] altendky commented on #222
The admins are likely subscribed to the repo anyways.  You could take a stab in [the gitter](https://gitter.im/spyder-ide/public) I guess.

[2021-03-04 09:38] eliranwong opened #232 "Add support for `QtTextToSpeech`"
Hello, thanks for your development.  qtpy is very helpful.

I found that qtpy.QtTextToSpeech does not work, so I need to write something like this below:

try:
    from PySide2.QtTextToSpeech import QTextToSpeech
except:
    try:
        from PyQt5.QtTextToSpeech import QTextToSpeech
    except:
        pass

[2021-03-17 20:04] bgermann opened #233 "PyQt6 support"
Does `QtPy` support the newly released `PyQt6` package?

Related: #229

[2021-04-15 13:11] stonebig opened #234 "distutils.LooseVersion is being deprecated"
need to move to  pkg_resources.parse_version as in  https://github.com/spyder-ide/spyder/pull/15252

try:  # distutils is being deprecated
    import pkg_resources
    from pkg_resources import parse_version as LooseVersion
except:
    from distutils.version import LooseVersion

[2021-04-15 14:53] stonebig commented on #233
I see an intersting metho in PyQtGraph, but I fail to apply it in QtPy context
https://github.com/pyqtgraph/pyqtgraph/blob/master/pyqtgraph/Qt.py#L331..L345

[2021-04-15 14:58] stonebig commented on #233
PyQtGraph is pretty much leading the change https://github.com/pyqtgraph/pyqtgraph/pull/1707

[2021-04-16 07:07] The-Compiler commented on #233
FWIW the easiest approach (and what I will do in [qutebrowser](https://qutebrowser.org/) is to:

- Don't support PyQt 6.0 (I need to wait for QtWebEngine to come back with Qt 6.2 anyways), thus no need for a shim like in https://github.com/pyqtgraph/pyqtgraph/pull/1707
- Switch all enum access to the scoped variants (I wrote a quick&dirty [script to do so](https://github.com/qutebrowser/qutebrowse

[2021-04-25 18:45] texadactyl opened #236 "Question about qtpy compatibility with PyQt5-5.15.4"
Not reporting a bug, just a mystery!

Before I did a distribution upgrade from 20.10 which used python 3.8 to 21.04 which uses 3.9, qtpy and Spyder worked fine.  A couple of days later I launched Spyder for the first time since and experienced a qtpy exception.

To narrow down where exactly things went wrong, I copied the qtpy ```__init__.py``` into a user test program as-is.
The following stateme

[2021-04-25 18:53] stonebig commented on #236
QtPy has no special problem with Python-3.9, at least on Windows

[2021-04-27 18:18] texadactyl commented on #236
@stonebig  Thanks.  You have some evidence that on Windows, with Python 3.9, PyQt5-5.12 works. All of the new Ubuntu 21.04 distros (ubuntu, xubuntu, lubuntu, gnome, etc.) use PyQt5-5.15.4.  So, this seems to be a qtpy / PyQt5-5.15.4 interface issue because of some restructuring.

I saw a note in another issue from @ccordoba12 that porting to Python 3.9 is on-going.
Hopefully, this compatibility is

[2021-04-27 20:23] texadactyl commented on #236
Happy ending of sorts although somewhat unrelated: I got ```miniconda``` (which always worked well with Spyder) to work well with our projects ```pip``` installs in a separate environment from base.  If something goes wrong in the future, I should be able to throw away that one environment without impact to the conda base.

In a perfect world, the scientists I work with would create conda packages

[2021-04-27 20:23] #236 closed

[2021-05-29 09:58] AndrewAmmerlaan opened #238 "PySide2 and Python3.9: xml.etree.ElementTree.Element' object has no attribute 'getchildren"
With `QT_API="pyside2"`, QtPy-1.9.0 and python3.9, I get the following test failure:
[code]

Please let me know if you require any additional information.

[2021-06-12 12:38] tlambert03 opened #240 "FORCE_QT_API logic broken?"
I'm a little confused about the `os.environ.get('FORCE_QT_API') is not None` in the backend selection logic here:
https://github.com/spyder-ide/qtpy/blob/3efae6353f2fca7d6bc7a26eaae24dc26ca50b81/qtpy/__init__.py#L119-L127

If I'm understanding correctly, the goal there is to use whatever has already been imported into `sys.modules`, unless someone uses `FORCE_QT_API`.  So it seems to me like that

[2021-06-12 12:42] tlambert03 commented on #240
sorry... just saw that this is a duplicate of #222

[2021-06-12 12:42] #240 closed

[2021-06-12 12:45] tlambert03 commented on #222
+1. would love to see this fixed

[2021-08-07 12:10] #213 closed

[2021-08-10 08:30] #206 closed

[2021-08-10 08:30] #238 closed

[2021-08-14 07:52] #222 closed

[2021-08-17 07:29] dalthviz commented on #220
Fixed by #208

[2021-08-17 07:29] #220 closed

[2021-09-02 17:20] #201 closed

[2021-09-07 17:58] dalthviz opened #245 "Importing `qtpy.uic` raises an exception"
As mentioned in https://github.com/spyder-ide/qtpy/pull/202#discussion_r702398077 an error raises if `qtpy.uic` is imported due a missing module (`pyside2uic `).

The error raises since there is no handling to detect if the module is available and for example do a fallback to only raise an error if `compileUi` is imported.

Thank you to @AndrewAmmerlaan for noticing this!

[2021-09-10 04:28] j9ac9k commented on #233
pyqtgraph maintainer here; trying to maintain qt4 _and_ qt6 will be tough.  The enums namespace that PyQt6 requires I don't believe works for Qt4 bindings.

In case it's helpful, here is where we do the bulk of our abstraction layer work (please keep in mind we don't support Qt4 any more): https://github.com/pyqtgraph/pyqtgraph/blob/master/pyqtgraph/Qt/__init__.py

[2021-09-10 10:38] tlambert03 commented on #233
Yeah, I'm all for @The-Compiler's proposal too.  Including dropping support for pre 5.11

[2021-09-10 15:09] ccordoba12 commented on #233
Hey @j9ac9k, thanks for chiming in! Ok, we'll remove support for PyQt4 before adding support for PyQt6/PySide6.

Ok, we'll take a look at that too.

[2021-09-10 21:30] j9ac9k commented on #233
Regarding minimum Qt version to support; a frequent pain point we have had is that on the conda defaults channel; Qt 5.9 is what is distributed, so to make current versions of pyqtgraph work w/ conda dependents, `conda-forge` _must_ be installed.

That said, PySide2 < 5.11 was a real head ache to test for back when we technically supported it.  We eventually gave up, and made PySide2 be 5.12+.

[2021-09-11 11:57] tlambert03 commented on #233
yeah, this issue comes up for us at napari a lot as well, though we also now only support ≥5.12 and try to help users navigate this annoyance in other ways.

[2021-09-13 17:12] #245 closed

[2021-09-13 17:31] dalthviz commented on #193
Fixed by #218

[2021-09-13 17:31] #193 closed

[2021-09-21 08:19] iLLiCiTiT opened #248 "Missing QtDataVisualization"
Hi in Maya 2020 is PySide2 and is Python 2 but does not have `QtDataVisualization` which is breaking usage of `qtpy` in it. Could be possible that it would be optional and not crash if is not available?

[2021-09-21 10:11] dalthviz commented on #248
Hi @iLLiCiTiT sorry to hear that, we will do a fix for that. Thanks for the feedback!

[2021-09-23 15:09] #248 closed

[2021-09-24 14:37] dalthviz opened #250 "Drop Python 2 support"

[2021-09-28 15:32] bgermann commented on #234
Why not use QVersionNumber which is available from the underlying implementation anyway?

[2021-09-28 16:00] dalthviz commented on #234
Hi @bgermann I think `QVersionNumber` started to be available from Qt 5.6 besides that I'm not totally sure if any other things where considered. Pinging @ccordoba12 just in case

[2021-10-12 14:54] #229 closed

[2021-10-12 19:32] CAM-Gerlach opened #253 "Declare and test support up to Python 3.9 and PyQt6"
As discussed in PR #229 , Python 3.9 has been released upstream, on AD, on CF and on GH Actions for some time, so it would be seem to be worth bumping the upper bound of the CI matrix at least to it (which would expand our support range while not proliferating CI jobs, per the current build matrix strategy) and fixing any issues that are found, as well as declaring support in the Trove classifiers

[2021-10-13 20:58] CAM-Gerlach commented on #253
Sounds good. Sure can do.

[2021-10-14 02:26] CAM-Gerlach commented on #233
Okay, I see—but wouldn't it be better to add `qt >=5.11` to the `run_constrained` of the conda recipe for QtPy 2.0.0+ to prevent it from being installed/upgraded in the presence of an unsupported Qt version, and resulting in a broken user environment? This would solve the issue not only for Spyder, but all of the other applications that depend on QtPy, both when being installed/updated in user env

[2021-10-19 17:33] benoit-pierre commented on #233
It's not just `QApplication`, there's also `QMenu` and `QDialog`.

[2021-10-19 17:58] kumattau commented on #233
I checked exec_ in PySide6. I think we add `exec_()` to the following object-types and value-types:

[code]

[2021-10-21 15:03] dalthviz opened #257 "Check import behavior for QtCharts module"
... the import here  _(for the `QtCharts` module)_ should give `QtCharts` (as done for the `PyQt5` case) or everything under `QtCharts` (as done for `PySide2`) @ccordoba12 ?

I mean:

* `PyQt5`: `... .QtChart import *`
* `PyQt6, PySide2, PySide6`: `... .QtCharts import *`

or

* `PyQt5`: `... import QtChart as QtCharts`
* `PyQt6, PySide2, PySide6`: `... import QtCharts`

Edit: Checking, I think fo

[2021-10-21 15:17] dalthviz opened #258 "Compatibility with `QtWidgets.QOpenGLWidget` vs `QtOpenGLWidgets.QOpenGLWidget`"
I think we could keep this _(the new `QtOpenGLWidgets` module in `Qt6`)_ but we need to do also the compatibility import at `QtWidgets.py` in a similar fashion as done with `PySide6`: https://github.com/spyder-ide/qtpy/blob/32f4a9f9fd9df3758c5f779fdac17132b23acc37/qtpy/QtWidgets.py#L23

What do you think @ccordoba12 ?

_Originally posted by @dalthviz in https://github.com/spyder-ide/qtpy/pull/255#

[2021-10-21 18:06] ccordoba12 commented on #258
I agree with adding the equivalent line for `PyQt6`. That's a good idea because it avoids us to add another module to `qtpy` (i.e. `QtOpenGLWidgets`) just for a single widget.

[2021-10-21 18:19] ccordoba12 commented on #233
Answering to what @kumattau said above:

I agree with adding `exec_` to the objects that need it, so we can maintain compatibility with PyQt5/PySide2.

Could you help us to do that?

[2021-10-22 16:44] dalthviz opened #261 "Add a deprecation warning for unsupported `Qt` versions and bindings (at least `Qt4`: `PyQt4` and `PySide`)"
Maybe could be worthy to release `1.11.3` with a depreciation warning:

- Deprecation warning for `Qt4` (removed `PyQt4` and `PySide` support for `v2.0.0`)
- Deprecation warning for older versions of `Qt5`: Depending on what minimum `Qt5` and bindings versions we will support for `v2.0.0`. Maybe `5.9` (if we can make it work), but most probably `5.12`

[2021-10-22 16:47] #258 closed, assigned to dalthviz

[2021-10-28 00:12] CAM-Gerlach opened #265 "Investigate and (hopefully) resolve segfaults and other issues in UIC tests"
Originally discussed in PR #262 .

At present, a number of the UIC tests are skipped for various reasons, which might need to be investigated. Most prominently, the tests segfault on our Linux CIs (unconfirmed if this also occurs locally) under all Qt5 and Qt6 bindings. Furthermore, `test_load_ui_type` fails on Pyside2/Pyside6 on most platforms, due to what looks like missing Pyside2uic, and oddly

[2021-10-29 14:38] #253 closed, assigned to CAM-Gerlach

[2021-10-29 18:01] dalthviz commented on #233
Also, after some discussion with @ccordoba12 we will try to support unscoped enums access in order to keep things working as if you were using PyQt5 (where scoped and unscoped access is available [at least from PyQt 5.9.2 + sip 4.9.13 with conda](https://github.com/spyder-ide/qtawesome/pull/179#issuecomment-950052489))

[2021-10-29 18:18] j9ac9k commented on #233
In case it helps, here is our logic we used to "promote" enums in PyQt6

https://github.com/pyqtgraph/pyqtgraph/blob/pyqtgraph-0.12.1/pyqtgraph/Qt.py#L331-L377

[2021-10-29 20:49] CAM-Gerlach opened #267 "Coveralls shows 0 coverage despite coverage report and runner output looking fine"
On PR #262 , I verified that the coverage reports and the coveralls output all looked good (after some fixes to get things working), and I can confirm they still do in the latest build. However, @dalthviz noticed that coveralls is showing zero coverage, which I suspect (given the lack of other obvious reasons) is due to it not correctly handling coverage from the installed package (vs. the local s

[2021-10-29 21:15] CAM-Gerlach commented on #267
Actually, the other possible reason (which occurred on the same commit, so I can't confirm which it was) might be due having to run `pytest` from inside the `qtpy` package directory, as a hack to get around some of the problems caused by QtPy not (yet) having the modern best-practice `src` directory layout (which would be nice to transition to, but that's up to @dalthviz ), meaning that the covera

[2021-10-29 21:52] CAM-Gerlach commented on #267
Yup, it indeed was the latter, as I'd hoped. In that case, it should be a simple fix and go right along with the other improvements.

[2021-10-30 00:52] CAM-Gerlach opened #269 "Add CI testing and official support for Python 3.10"
Originally, part of #253 included adding CI testing, and thus official support for Python 3.10, but it turned out in PR #262 that given the conda packages for Pytest aren't officially yet declared compatible (despite the upstream PyPI packages having the 3.10 tag), it would more complex/inefficient than anticipated to add it right away, and so it was deferred to a followup.

As of now, we can eith

[2021-10-30 02:37] CAM-Gerlach opened #270 "Port packaging from deprecated legacy builder to current PEP 517 standards"
I was already planning to do this following #262 being merged, as I've done for many other packages. However, with `setuptools` 58.3.0, which we are now getting a formal `DeprecationWarning` when installing the package (which correctly fails the CIs, due to `-W error`), and it will soon stop working entirely.

The issue is due to using the old legacy `setup.py` backend that has been discouraged fo

[2021-10-30 21:07] CAM-Gerlach commented on #270
[More information and background](https://blog.ganssle.io/articles/2021/10/setup-py-deprecated.html) on this from the Setuptools maintainer

[2021-11-01 01:53] CAM-Gerlach commented on #269
Seems like the "waiting" approach is blocked on the cpython3.10 migration for CF, which per the discussion in conda-forge/conda-forge-pinning-feedstock#2008 may be 1-2 months at least.

So to ensure this doesn't block QtPy v2.0.0, I guess I'll just go ahead with the approach of bifurcating the `conda=yes` and `conda=no` branches in `test.sh` a bit more so the latter uses a pure `pip` test dep stac

[2021-11-01 01:57] CAM-Gerlach commented on #269
@dalthviz This is pretty much blocked on PR #268 being merged, as significant merge conflicts will result, though that PR is pretty straightforward and umabigous so I don't expect too much delay on that. It should be completely orthogonal to #270 getting addressed, minus any unforeseen issues.

[2021-11-01 02:02] CAM-Gerlach commented on #270
A couple lines that will be changed by this intersect with PR #268 , since that had to implement a temporary workaround for this issue (which coincidentally happened to start generating a warning when I was already planning to fix it), but that's relatively easy to deal with, preferably by rebasing the PR that resolves this once that's merged (to preserve CI run history in #268 , which ended up ac

[2021-11-01 15:03] #267 closed

[2021-11-01 17:32] dalthviz commented on #270
Hi @CAM-Gerlach I think you can work on this now (checked and the coveralls are working as expected 👍🏼)

[2021-11-01 17:47] dalthviz commented on #269
Thinking about this maybe we should just wait for a bit

[2021-11-01 18:14] CAM-Gerlach commented on #270
NB, we'll need to do this in Spyder itself at some point soon for the same reasons, as well as other porting (e.g. removing the uses of the long-deprecated and soon to be removed distutils, so it won't raise a DeprecationWarning in Python 3.10 and doesn't break on 3.12, when it will be removed). so this will be good to get familiar with now. I can certainly help with that too, but good to take a m

[2021-11-01 19:18] ccordoba12 commented on #270
I'm ok with this too.

[2021-11-01 19:49] CAM-Gerlach commented on #269
Sure, up to you. I've thought of ways to work around most of the downsides I initially thought in terms of complexity or CI resources with relatively little effort, aside from any issues with 3.10 itself (which we'll have to fix anyway), and it would be good to be able to declare 3.10 support in QtPy 2.0 (since it will unblock it for a lot of downstream dependents).

What were you thinking in term

[2021-11-02 15:40] dalthviz commented on #269
Well firts we will need to release v1.11.3 with the deprecation warnings. For the v2.0.0 release, we need to check the support for unscoped enum access, also would be nice to do some testing with for example Spyder as already some people did, using master to check for errors or missing things to support compatibility and maybe this issue if while working some progress is done in terms of Python 3.

[2021-11-02 16:31] ccordoba12 commented on #261
I agree with that message but not worded in third person. I mean, I think it's clearer and sounds better in second person:

[code]

[2021-11-02 18:46] CAM-Gerlach commented on #269
What would be particularly nice is having at least one CI job on linux/conda/latest Python that checks out the last stable released Spyder version and runs the Spyder test suite (or at least the non-slow tests, to avoid extra runtime, complexity and flakiness), as a proper integration/functional test on top of the existing unit tests. It should actually be pretty simple to set up; we could just us

[2021-11-02 19:01] dalthviz commented on #269
I would say that sort of testing should be done over the Spyder side (maybe, just to have an extra check, we could setup QtPy from master as is done for other managed dependencies as QtAwesome in the Spyder testing workflows).

[2021-11-02 21:50] CAM-Gerlach commented on #261
Yup you're right @ccordoba12 , good point. I only had it that way before because we had different messages for developers and users, and since @dalthviz wanted to mainly target the former, I eliminated that part but didn't reword it.

Fixing an grammar/editing mistake,

[code]

:point_up: Since Qt bindings < 5.9-5.12 (per the discussion on #233 ) are also equally deprecated and no longer supported

[2021-11-02 22:02] CAM-Gerlach commented on #269
That certainly can be done over at the Spyder side, though it serves a somewhat different purpose, of primarily testing Spyder's compat with the latest QtPy as opposed to serving as a direct functional test of changes in QtPy itself. The idea here was to check out a known good current stable release of Spyder and ensure that QtPy changes didn't break things (and if so, it would show up right in th

[2021-11-03 16:53] dalthviz commented on #269
I think that kind of integration testing goes out of the scope of QtPy itself but thinking about it it could be nice to have a place/service to automatically do checks like that before releases (if I use certain package from his latest source how it can affect already available packages). So, that kind of automatic integration testing is a good idea but I think this is not the place to do that

[2021-11-04 17:17] dalthviz commented on #231
Closing this as duplicate of https://github.com/spyder-ide/qtpy/issues/85 but hopefully for v2.0.0 some level of documentation will be available

[2021-11-04 17:17] #231 closed

[2021-11-04 17:50] dalthviz commented on #200
Just in case @dj-kyle-roseberry to change the default binding you need to set the environment variable `QT_API`. For example, if you are on Windows running from a cmd, you can use something like `set QT_API=pyside2` before running your code.

Closing as duplicate of https://github.com/spyder-ide/qtpy/issues/85

[2021-11-04 17:50] #200 closed

[2021-11-04 18:06] dalthviz commented on #212
Just in case, starting from PyQt5 5.12 you need to install `PyQtWebEngine` under a pip installation. Also, `PyQt5.QtWebKitWidgets` was removed in Qt 5.6

[2021-11-04 18:06] #212 closed

[2021-11-04 18:16] dalthviz commented on #85
Related issues:

* https://github.com/spyder-ide/qtpy/issues/61
* https://github.com/spyder-ide/qtpy/issues/62
* https://github.com/spyder-ide/qtpy/issues/66

[2021-11-04 18:18] dalthviz commented on #85
@CAM-Gerlach would you like to work on this?

[2021-11-04 18:44] dalthviz commented on #26
@ccordoba12 is this still relevant?

[2021-11-04 18:48] dalthviz commented on #134
Just in case: https://bugreports.qt.io/browse/PYSIDE-1121

[2021-11-04 19:35] CAM-Gerlach commented on #66
This has been changed and simplified significantly following PR #262 . I was already planning to add a Contributing Guide as following the mold of an updated, simplified and more helpful standardized version of the Spyder one, which would cover this, so I'll take care of this soon.

[2021-11-04 19:39] CAM-Gerlach commented on #62
I can try to address this, but @dalthviz or @ccordoba12 could you explain a little more what's the intent here? When migrating an application to...what, exactly? A specific binding/other wrapper to QtPy? Porting to newer Qt/binding versions? Something else? A little more detail would be helpful to know what we're looking for here.

[2021-11-04 19:48] CAM-Gerlach commented on #61
@dalthviz I can try to help with this, but given I'm not a Qt expert (both a benefit and a downside when writing user docs), I'll need a little more detail on what you want said here:

* Beyond just letting people know to import `Signal` and `Slot` from here, are there QtPy-specific syntax or semantics that need to be described, or something else we want to say?
* I assume this is related to #26 ?

[2021-11-04 19:57] CAM-Gerlach commented on #85
I can't promise anything like a full-on docs site like we have for `spyder-docs` or the API docs (at least in the near term), but I was actually already planning to at least update and expand the README and add a contributing/dev guide to address some of these issues (and replied in each of them with more detail).

It looks like the simplest low-hanging fruit item being requested here (beyond the

[2021-11-04 22:48] ccordoba12 commented on #62
Yes.

[2021-11-04 22:49] ccordoba12 commented on #26
I don't understand what this issue is about exactly, sorry.

[2021-11-05 00:49] CAM-Gerlach commented on #26
@ccordoba12 I'm not a Qt expert like either of you, but looking at the code, seems like its about replacing the QtPy custom compatibility wrappers around the various QFileDialog static helper methods (included in [this section of compat.py](https://github.com/spyder-ide/qtpy/blob/cc9086e596ccbeb63913a8c245c5c8dd2c9d0c12/qtpy/compat.py#L53), that smooth over binding/platform-specific rough edges in

[2021-11-05 00:54] CAM-Gerlach commented on #85
As another low-hanging fruit item, the [`__init__.py`](https://github.com/spyder-ide/qtpy/blob/master/qtpy/__init__.py) contains a substantial amount of general information and examples in its docstring that could be moved to or included in the README to be much more visible, with a bit of cleanup.

[2021-11-05 00:58] CAM-Gerlach commented on #62
I see @ccordoba12 , so is the "greatest strength" cited the ease of migrating _to_ QtPy (relative to...something)? I'm still a little unclear; maybe its just phrased oddly but the issue title and minimal information present is rather confusing.

The git-cola issue you mention above would be very useful here, but the link just points to this issue and while I spent some time Googling it, I didn't f

[2021-11-05 01:36] ccordoba12 commented on #62
Forgetting about the Python bindings (PyQt vs PySide) and version of them (5 vs 6) you're using. Your application should work with any of them if you're using QtPy.

It should be in the project's git history.

[2021-11-05 01:55] CAM-Gerlach commented on #62
Okay, thanks. There were 71 issues and 45 commits that contained "QtPy", many of them about various binding compatibility issues and bugs with QtPy, but my best guess is that git-cola/git-cola#232 is the one you're implying. Is that correct?

[2021-11-05 14:13] dalthviz commented on #85
I think adding some more information in the README is good enough and using the info already in the `__init__` could be nice :+1: Thanks @CAM-Gerlach!

Also, at https://github.com/spyder-ide/qtpy/issues/200#issuecomment-544803437 a mention to a documentation page that the Glue project has related to `QtPy` (in terms of how to use it) could be useful too

[2021-11-05 14:26] dalthviz commented on #26
I'm not totally sure about monkeypathing but providing names to this functions following the Qt camelCase convention seems like a good idea

[2021-11-05 14:45] dalthviz commented on #61
Besides the things described at the OP probably some description for the env variables that `QtPy` uses (`FORCE_QT_API`, `QT_API`) as well as state variables available (`PYQT5`, `PYQT6`, `PYSIDE2`, `PYSIDE6`, etc) could be nice (also letting clear that we are trying to follow Qt5 layout for things, so for example `pyqtSlot` -> `Slot`)

Yes, related in the sense that following what is decided there

[2021-11-05 14:53] ccordoba12 commented on #62
Yeah, sounds right.

[2021-11-05 18:05] CAM-Gerlach commented on #26
Since its a pretty straightforward change, I can help with that part, if you like and we all agree on that approach.

[2021-11-05 18:13] dalthviz commented on #26
Sure go ahead :+1:

[2021-11-05 18:29] CAM-Gerlach commented on #26
If we're renaming and aliasing these functions anyway, we might want to consider moving the renamed functions to their own module (and keeping the old names as deprecated aliases in `compat.py` until the next major version), so they're more logically organized and discoverable, and aren't mixed in with the small general-purpose utility functions in `compat.py`.

FWIW, while I would of course defer

[2021-11-05 18:29] CAM-Gerlach commented on #62
Thanks, I'll give it a shot.

[2021-11-05 19:24] CAM-Gerlach commented on #85
Great, that's helpful thanks. I'll compile a master list of the things we want to add in the OP and links thereof, since it doesn't have any content as it is.

[2021-11-05 19:44] CAM-Gerlach commented on #85
Not directly related, but I think it would be a good idea to add back the old `PYQT4` and `PYSIDE` package-level constant, always set to `False`, for backward compat for code that checks them, and document them here? We did retain the now-obsolete `is_old_pyqt` and `is_pyqt46` variables which were only used internally and not indicated as public module-level constants (`ALL_CAPS`), so it would mak

[2021-11-05 19:49] CAM-Gerlach commented on #85
Updated the OP as discussed above

[2021-11-05 19:50] CAM-Gerlach commented on #62
Glue also mentions this in [their docs](http://docs.glueviz.org/en/stable/developer_guide/qt_development.html#using-qtpy)

[2021-11-07 20:29] tlambert03 opened #274 "SignalInstance, Slot, and Property for Qt6 QtCore"
I notice that `PyQt6.QtCore.pyqtBoundSignal`, `pyqtProperty`, and `pyqtSlot` were omitted from #225 and #229.  Any reason?  just lacking a PR to add them back?

[2021-11-07 21:40] CAM-Gerlach commented on #274
Hey @tlambert03 , thanks for this! The reason would be that #225 and #229 are primarily focused on adding support for PySide6, while #233 is concerned with PyQt6 and mentions this issue (first pointed out by @tomgoddard ), and in fact PR #271 adds them back. Sorry if that wasn't clear!

[2021-11-08 17:30] dalthviz commented on #85
Makes sense to me :+1:

[2021-11-08 23:27] CAM-Gerlach commented on #85
Thanks, opened as PR #279

[2021-11-10 15:07] #66 closed

[2021-11-10 18:26] CAM-Gerlach commented on #26
You still want me to go ahead with the aliases, right? Since we're renaming them anyway, what are your thoughts above moving them to a more specific submodule than the catchall `compat.py`?

[2021-11-10 18:55] dalthviz commented on #261
"A deprecated Qt4-based binding (PyQt4/PySide) was installed, "
    "imported or set via the QT_API environment variable. "
    "To ensure your application is still supported in QtPy 2.0, "
    "please make sure it doesn't depend upon, import or "
    "set the QT_API env var to 'pyqt', 'pyqt4' or 'pyside'.",
    DeprecationWarning,
)

I think we can go with this message as it is @CAM-Gerlach

[2021-11-10 18:57] dalthviz commented on #26
Lets leave it as it is for the moment

[2021-11-10 23:16] CAM-Gerlach commented on #26
Okay, so not aliasing them at all, or not moving them to a different module but still aliasing them as you told me before?

[2021-11-11 14:55] dalthviz commented on #26
What I mean to say is to not spend more time in this one, so yep not even checking the aliasing.

Seems like this is not critical at the moment and we need to carefully think if we are going to do something either patching or doing aliases to follow the camelCase convention. For me seems like this is more likely to be closed, so no patching. For the aliasing I was thinking and maybe the idea behin

[2021-11-11 20:00] CAM-Gerlach commented on #26
Well, if it being thin compatibility wrappers (not actually helpers) around existing Qt methods instead of the originals isn't already clear from it being imported and accessed from `qtpy.compat` rather than `QtPy.QtWidgets`, and from them being functions rather than static methods, it seems very doubtful that the average developer would somehow infer that from the otherwise arbitrary `alllowercas

[2021-11-16 15:17] dalthviz commented on #261
Hi @CAM-Gerlach any chance you can work on this with the last message? I think it could be nice to do the 1.11.3 release soon so if you have some time to work on this or if it is ok for someone else to work on this let us know

[2021-11-17 03:42] DengZuoheng opened #280 "import qtpy raise except when only have PyQt4"
https://github.com/spyder-ide/qtpy/blob/61e84329ecd5bfb3a6ff822fa6ce9758be23516c/qtpy/__init__.py#L197

[code]

Why you remove the QT_API check before import QtDataVisualization since 1.11.2?

[2021-11-17 15:15] dalthviz commented on #280
Hi @DengZuoheng thank you for the feedback! Regarding this issue, we added the lines causing it in order to keep compatibility since previously to import `QtDataVisualization` we were using _QtData**v**isualization_ instead of _QtData**V**isualization_ (note the lower case _**v**_). Before this aliasing was done I suspect this error could happen only if you directly runned something like `from qtp

[2021-11-17 15:17] dalthviz commented on #280
Also @DengZuoheng , just out of curiosity, you keep using Qt4 in your current projects?

[2021-11-17 18:28] #280 closed

[2021-11-17 21:12] CAM-Gerlach commented on #261
Sorry, this got lost in my queue somehow. Thanks for the reminder; I'll take care of it now.

One thing, though—this and #281 / #280 were all milestoned on 1.11.3, but #281 also bumped the QtPy 1.x version to 1.12. Was the latter intentional and we should rename the milestone, or is the former still correct? Thanks.

[2021-11-17 21:56] ccordoba12 commented on #261
Agreed.

I don't think so because `qtpy` takes care of that for the user.

[2021-11-17 21:57] CAM-Gerlach commented on #261
@ccordoba12 Oh, so we already warn on Qt <5.6 and/or <5.9?

[2021-11-18 00:08] ccordoba12 commented on #261
No, we don't. Perhaps we should warn about Qt < 5.9 because the oldest version we can test.

[2021-11-18 00:17] CAM-Gerlach commented on #261
That's what I was suggesting :smirk: But we could do that in another PR, since #283 should be ready to go and its a bit less trivial to code.

[2021-11-18 03:43] DengZuoheng commented on #280
@dalthviz thanks for your prompt reply. And yes, we still using Qt4 now, and we going to upgrade to Qt5 next year. Before that we trying to upgrade qtconsole, and meet this issue.

[2021-11-18 04:21] CAM-Gerlach commented on #280
@dalthviz I assume we'll drop support in QtConsole at some point soon, if we haven't already done so?

Also, just FYI @DengZuoheng , QtPy 1.12 (presumably the last minor release of the 1.x series) will formally deprecate the Qt4 bindings (which have been mostly untested since QtPy 1.9.x) and QtPy 2.0 will no longer support Qt <5.6 for sure, maybe Qt <5.9 (since we can't easily test on versions low

[2021-11-18 14:51] dalthviz commented on #280
Thanks @DengZuoheng for the answer, glad to know that you are already checking a migration plan :+1:

I think that depends on QtConsole adding a constrain in QtPy but maybe @ccordoba12 knows better

[2021-11-18 15:28] dalthviz commented on #261
See https://github.com/spyder-ide/qtpy/pull/281#issuecomment-972950279

[2021-11-18 16:09] ccordoba12 commented on #280
I doubt Qtconsole can still work with PyQt4 because it only supports Python 3.6+ (and I think there are no PyQt4 packages for that version).

[2021-11-18 16:31] #261 closed

[2021-11-19 16:06] dalthviz commented on #261
Checking again the comments, regarding the message for Qt 5 <5.9, that's going to be done by @CAM-Gerlach in a new PR, right? Should we reopen this issue and close it with the merge of that new PR?

[2021-11-19 19:09] ccordoba12 commented on #261
I think we should leave this message for QtPy 2.0

I'm not in favor of that. Instead, let's open a new issue and fix it with a new PR. This issue was about the Qt4 message.

[2021-11-19 19:31] CAM-Gerlach commented on #261
That also makes the most sense to me :+1: . I can open a new issue.

I'm not sure about that, but we can discuss that in the new issue. I'll try to compile the relevant bits from each of us there to get things started.

[2021-11-19 22:29] CAM-Gerlach opened #284 "Warn if using a deprecated and/or unsupported Qt 5 version"
Since #261 was implemented in PR #283 , we're now issuing a `DeprecationWarning` for QtPy 1.x when used with Qt versions and bindings that are deprecated, untested in QtPy 1.x, and unsupported in QtPy 2.0.

Given Qt/PyQt versions <5.9 and Pyside2 versions <5.12 are equally deprecated, untested in QtPy 1.x and officially unsupported in QtPy 2.0 (since we've removed any compat code for them, AFAIK),

[2021-11-19 22:36] CAM-Gerlach commented on #284
@ccordoba12 said:

The issue is that PyQt <5.9/Pyside <5.12 is already likely broken in 2.0, since it hasn't been tested for years and any explicit compat code was removed, so developers will not be warned about it. For the reasons explained above, the very same ones that justified a `DeprecationWarning` for Qt4, I think we should have one for those bindings in 1.13.3 so developers are made aware,

[2021-11-19 22:37] CAM-Gerlach commented on #284
@ccordoba12 said in response to @dalthviz :

The issue is that PyQt <5.9/Pyside <5.12 is already likely broken in 2.0, since it hasn't been tested for years and any explicit compat code was removed, so developers will not be warned about it. For the reasons explained above, the very same ones that justified a `DeprecationWarning` for Qt4, I think we should have one for those bindings in 1.13.3 so

[2021-11-19 22:38] CAM-Gerlach commented on #261
Sorry, took a while as I had to take some calls from family members, but opened as #284

[2021-11-22 15:01] dalthviz commented on #261
Thanks @CAM-Gerlach , don't worry and hope everything is going ok

[2021-11-22 16:00] dalthviz commented on #284
I think we should show an UserWarning or maybe a RuntimeWarning on 2.0 if we detect that QtPy is being used with Qt <5.12

Maybe the message can go along the lines of saying something like: _We detected that you are using an old version of Qt 5. We recommend you to update to a more recent version (Qt >5.12)_

Regarding that detection on 1.11.3, I'm not totally sure what type of warning or message

[2021-11-22 16:06] #274 closed

[2021-11-22 16:24] #270 closed

[2021-11-22 20:00] CAM-Gerlach commented on #284
Under PyQt 5.9 is what is untested and deprecated, so I wouldn't suggest a user-visible `UserWarning` on PyQt >=5.9 at least until a newer version is available on Anaconda `defaults` (or its clear there will never be one), since we do test it,`, and developers and users have no choice there and it means that it will issue a warning in Spyder itself. However, if we have confirmed plans to deprecate

[2021-11-22 20:04] CAM-Gerlach commented on #261
Yeah, thanks are going okay for now at the moment in that department, thanks :+1:

[2021-11-23 14:54] kumattau opened #286 "PySide6 DeprecationWarning of exec_"
Hi,

exec_ function is deprecated in PySide6, so the common PyQt5/PySide2 code gets deprecated warning when QT_API=pyside6.

[code]

On the other hand, PyQt6 removes exec_ but QtPy provides exec_ for the compatibility. (#259)
As a result, DeprecationWarning of exec_ occurs only when QT_API=pyside6.
Which should this DeprecationWarning be addressed by QtPy or the user application?
Note that print_

[2021-11-23 15:12] dalthviz commented on #284
So a `DeprecationWarning`  for both QtPy 1.11.3 and 2.0.0 versions regarding Qt < 5.9 looks ok for you, right @CAM-Gerlach ?

Also, just in case, what do you think @ccordoba12 ?

[2021-11-23 15:38] dalthviz commented on #286
Thanks for the feedback @kumattau ! I think that the warning should be handled by the user application although maybe we should provide the mapping for `exec_` and `print_` at some point for PySide6 as we do now for PyQt6 too

Just in case, what do you think @ccordoba12 @CAM-Gerlach ?

[2021-11-23 16:20] ccordoba12 commented on #286
I think we should handle the DeprecationWarning because we're the ones calling `exec_`.

[2021-11-23 16:50] dalthviz commented on #286
I think we are not actually calling  `exec_` but just mapping it (actually checking the mapping is only being done for PyQt6 currently). But just in case, @kumattau is the warning being generated when importing QtPy or when you in your code actually use `exec_`? Let us know

[2021-11-23 17:07] kumattau commented on #286
@dalthviz,

I found this DeprecationWarning in qtawesome/icon_browswer.py

https://github.com/spyder-ide/qtawesome/blob/9602e1f3fd8a19cddc2165bf49909d95105d0667/qtawesome/icon_browser.py#L273

icon_browswer.py imports QtPy, but this warning is generated from PySide6 because QtPy does nothing about exec_ of PySide6.

[2021-11-23 17:21] kumattau commented on #286
I think if this DeprecationWarning should be handled by user application, exec_ function in the user application needs to be changed to avoid this warning and support PyQt5/PyQt6/PySide2/PySide6.

[code]

[2021-11-23 17:38] dalthviz commented on #286
Thanks for the clarification @kumattau ! I would say that then, with QtAwesome for example, we should do the corresponding changes there, but lets see what others say.

From the QtPy part then as, I was thinking, maybe we should a similar mapping for `exec` and `print` as is being done for PyQt6 but for PySide6

[2021-11-23 19:43] CAM-Gerlach commented on #284
Yup, that's my take, with the following revisions as mentioned above:

* PyQt 5.9 and PySide 5.12 (since it wasn't stable/supported until then/QtfP was released, IIRC)
* I might suggest a `UserWarning`/etc. instead for QtPy 2.0 instead, since the code is likely to be actively broken, its harder to miss than a DeprecationWarning and individual Qt minor versions are more likely than major to be cont

[2021-11-23 19:50] CAM-Gerlach commented on #286
I agree with @dalthviz ; "handling" the warning in QtPy would mean either dropping the shim functionality (which we deliberately added knowing this), or silencing the warning, meaning downstream code (like QtAwesome) won't know it has to update and will just suddenly break someday, so either doesn't really make sense.

So, we can either simply pass the warning as we do now, or, if it doesn't raise

[2021-11-24 16:54] kumattau commented on #286
Thank @dalthviz @CAM-Gerlach @ccordoba12 for comment and explanation.
I've acknowledged.
I sended the QtAwesome PR (https://github.com/spyder-ide/qtawesome/pull/186)  based on the discussion in this issue.

I think this issue can be closed.

[2021-11-24 18:30] CAM-Gerlach commented on #286
As @dalthviz mentioned, we could consider aliasing the new names to the old ones, so user code doesn't need to implement try-excepts depending on the binding and version used; the goal of QtPy after all is a compatibility shim to abstract those differences so they don't need to be handled in every downstream application, and so ports to different bindings and upgrades to new versions is as seamles

[2021-11-24 19:16] dalthviz commented on #286
I've acknowledged.
I sended the QtAwesome PR (spyder-ide/qtawesome#186) based on the discussion in this issue.

Thanks @kumattau !!

Would you like to help us with that @kumattau ? Let us know!

[2021-11-24 19:27] dalthviz commented on #284
Makes sense to me :+1:

[2021-11-25 15:10] kumattau commented on #286
Thank @CAM-Gerlach @dalthviz for more explanations.

I'm sorry to misunderstand.

My current understanding is that, to be specific, user applications like as qtabrowser does not need to handle DeprecatedWarning of exec_/print_ functions of PySide6 because the future QtPy release will provide exec_/print_ functions of PySide6 which does not report DeprecatedWarning.

Is my understanding correct ?

[2021-11-25 15:37] dalthviz commented on #286
Yep that will be the idea :+1: The thing is that right now we are only doing the mapping on PyQt6. So we still need to add the mapping (some lines like for example `QApplication.exec_` = `QApplication.exec`) for PySide6, and I though that maybe that is something that you can help us doing @kumattau

Sorry for not being so clear but let us know if you want to help with that or if you have any other

[2021-11-26 13:59] kumattau commented on #286
I was mistaken about the `print_` function of PySide6.
Unlike exec_, PySide6/PySide2 **does not** have `print` function. They have `print_` function only.

The summary is as follows.

| Qt Bindings | PyQt5 | PyQt6 | PySide2 | PySide6    |
| ----------- | ----- | ----- | ------- | ---------- |
| exec_       | v     |       | v       | deprecated |
| exec        | v     | v     |         | v

[2021-11-26 15:11] kumattau commented on #286
I sent PR: #287 to fix this issue.

[2021-11-26 17:15] #286 closed

[2021-11-26 20:18] CAM-Gerlach commented on #286
Thanks for your detailed research, @kumattau !

[2021-11-29 15:14] dalthviz commented on #284
Do you have some time to work on this @CAM-Gerlach ? I think that after this is done we could release `1.11.3`

[2021-11-29 19:52] CAM-Gerlach commented on #284
Sure; I was working on `python/peps#2164` (PEP 639 rewrite), sorry, which I just finally finished. I'll take care of it right now.

[2021-11-29 21:54] ccordoba12 commented on #284
Although it seems you already decided how to proceed, I just want to say that I also agree with this.

[2021-11-30 01:58] CAM-Gerlach commented on #284
@ccordoba12 FYI, we revised that slightly since that comment; here is the current consensus (as is presently implemented in PR #289 )

In addition, if and when we confirm plans to deprecate and eventually remove PyQt <5.12 on QtPy 2.x, we would want to add a `DeprecationWarning` for that on QtPy 2.x only [but that's out of scope here].

[2021-11-30 16:41] #232 closed

[2021-11-30 20:50] ccordoba12 commented on #284
Yes, I think that's a good idea too.

[2021-12-01 01:33] CAM-Gerlach commented on #284
Great, happy to help with that too; just ping me if/when that is decided and for what version.

[2021-12-01 14:47] #197 closed

[2021-12-01 21:21] #284 closed

[2021-12-02 15:31] kumattau commented on #233
Does QtPy supports Qt6/PyQt6/PySide6 Version 6.0 ?
I think, if QtPy supports 6.2 or later only, it is better that QtPy shows warning messages like as #284.

[2021-12-02 19:20] CAM-Gerlach commented on #233
Seems like there was a clear consensus here for not supporting anything earlier than 6.2, so if @dalthviz agrees I can go ahead with a PR to also warn on those versions (the way I added it, it should be pretty straightforward to do without much code duplication).

[2021-12-03 14:43] dalthviz commented on #233
Sounds good to me, thanks @kumattau for the feedback and @CAM-Gerlach for helping with the implementation :+1:

[2021-12-03 20:00] CAM-Gerlach commented on #233
Thanks, opened as #294

@dalthviz , just to check in, is there anything else specific we need for this issue?

[2021-12-06 15:24] dalthviz commented on #233
I don't think so @CAM-Gerlach . Maybe #294 should close this :+1:

[2021-12-06 22:18] CAM-Gerlach commented on #233
Okay, thanks! Let's hope it resolves this for good this time. :crossed_fingers:

[2021-12-07 14:45] #233 closed

[2021-12-07 16:39] dalthviz commented on #269
Checking a little bit seems like there are already conda packages (on the conda-forge channel at least) for pytest with Python 3.10, should we maybe try again to update the CI to Python 3.10? What do you think @CAM-Gerlach @ccordoba12 ?

[2021-12-07 17:38] ccordoba12 commented on #269
I'm ok with that.

[2021-12-08 01:01] CAM-Gerlach commented on #269
Sure, I can go ahead with it, but #295 needs to be closed or merged first (I'm reviewing it now, but TL;DR I'm a strong :-1: on it) since it will basically touch all the same lines.

[2021-12-08 14:55] dalthviz commented on #269
Thanks @CAM-Gerlach :+1:

[2021-12-09 14:47] dalthviz opened #297 "Drop Python 3.6 support"

[2021-12-09 17:10] #269 closed

[2021-12-13 13:10] tlambert03 opened #300 "Release QtPy 2.0.0"
Hi folks, just checking in on the plans for releasing the qt6 support.  Not trying to rush you :) just couldn't find any issue/discussion.  Any last hurdles that need to be fixed that i could help with?

[2021-12-13 14:32] dalthviz commented on #300
Hi @tlambert03 ! The idea we have is to do the release on December 22th (so next week). For the moment we are missing some issues regarding documentation (we will try to tackle them this week) and also check/review any new issues/PRs that could come around from people checking QtPy from master like for example https://github.com/spyder-ide/qtpy/pull/299 and https://github.com/spyder-ide/qtpy/pull/

[2021-12-14 18:59] dalthviz commented on #62
While checking maybe is worthy to add a section to the `README.md` listing projects that use QtPy (like for example `glue`, `git-cola`). What do you think @ccordoba12 @CAM-Gerlach ?

[2021-12-15 04:11] CAM-Gerlach commented on #300
Sorry, its my fault on the documentation delay; I'd meant to to it a week or two ago but I kept having to take care of other issues, and now I've been working 12+ hours a day, 7 days a week for the past week to finish a NASA project for by a deadline tomorrow. I just got it done at 5 am this morning, so I'll try to finish catching up on other things today (and food and sleep, lol) and then submit

[2021-12-15 04:35] CAM-Gerlach commented on #62
I think that's a great idea. A lot of projects have to be using it (or at least a lot of projects that have many deps), given the PyPI download numbers. Though I think a lot of those are driven by something with the Linux distros, possibly on servers and VMs and such.

[2021-12-15 04:36] CAM-Gerlach commented on #62
That said, if it'll delay PR #301 its probably better if we just merge that and then I take care of it in my other docs PR since that's a de-facto blocker due to the likelihood of merge conflicts.

[2021-12-15 07:51] ccordoba12 commented on #62
I agree with @CAM-Gerlach.

[2021-12-16 02:26] FXTD-ODYSSEY opened #302 "Compat shiboken and sip like Qt.py"
Qt.py compat with shiboken and sip modules

[code]

This is very helpful in some case.

[2021-12-16 03:48] CAM-Gerlach commented on #302
@dalthviz , is this something we want to consider?

[2021-12-16 15:12] dalthviz commented on #302
After checking this a little bit I think it could be ok :+1:

This should be the addition of two functions with the respective handling of the different bindings in `qtpy/compat.py` following the current compat functions naming so something like `isvalid` and `wrapinstance` (not totally sure of the `isvalid` name since with `sip` the function name is `isdeleted` I think)

If you want to help with

[2021-12-16 21:37] #62 closed

[2021-12-22 17:04] dalthviz commented on #300
It's release day! Closing this one to start doing the release 🎉

[2021-12-22 17:04] #300 closed

[2021-12-22 17:05] tlambert03 commented on #300
🎉🎉🎉🎉🎉🎉🎉🎉
🕺🕺🕺🕺🕺🕺🕺🕺

thanks again for all the hard work everyone.

[2021-12-23 02:00] thatfuckingbird opened #304 "Qt6: QtCharts namespace incompatibility"
The QtCharts.QtCharts namespace was removed in Qt6, and the contents are now directly in the QtCharts module.
To preserve compatibility with Qt5 code, the below works:
[code]
Maybe this is worth adding in qtpy itself?

[2021-12-23 02:04] thatfuckingbird opened #305 "Qt6: exec_ vs. exec"
Currently, qtpy does
[code]
for Qt6 to preserve the `exec_` function.
This leads to an error if I call `exec_` in a QDialog subclass, at least with PyQt6:
[code]

Instead, the below version works for subclasses too:
[code]

Same for QMenu, etc.

[2021-12-23 02:08] thatfuckingbird opened #306 "Qt6: missing unscoped enum values"
Using PyQt6 via qtpy, QtCore.Qt.BackButton is not defined. The equivalent QtCore.Qt.XButton1 is defined, however (both are defined in PyQt5).
These are in the Qt::MouseButton enum, and both values are present in both Qt5 and Qt6 according to the Qt docs.

[2021-12-23 14:57] dalthviz commented on #304
Hi @thatfuckingbird thank you for the feedback! I'm not totally sure (I guess that gives backwards compatibility with the QtPy 1.x handling that was being done) what do you think @ccordoba12 @CAM-Gerlach ?

[2021-12-23 14:59] dalthviz commented on #305
Thank you @thatfuckingbird for the feedback! Could you provide us a code example to check in our side? Let us know!

[2021-12-23 15:04] dalthviz commented on #306
Thank you again for the feedback @thatfuckingbird ! Indeed, there are some enum values that changed names that need adding an alias. Would you like to helps us with that? Let us know!

[2021-12-23 15:48] thatfuckingbird commented on #306
To be clear, these did *not* change name in Qt itself.

e.g. Qt::BackButton is listed on both of these pages:

https://doc.qt.io/qt-6/qt.html
https://doc.qt.io/qt-5/qt.html

Qt::BackButton and Qt::ForwardButton are the only 2 I encountered, but there could be others. Now I suspect they are missing because Python Enums don't support duplicate values (?). In that case sadly I don't see how we could

[2021-12-23 16:10] dalthviz commented on #306
At least for the unscoped access I think we could do some aliasing after promoting enums like this:

In `qtpy/QtCore.py` after the lines

[code]

do

[code]

[2021-12-23 16:46] ccordoba12 commented on #304
Yeah, I think it's a good idea to handle that change here.

[2021-12-25 08:59] kumattau commented on #305
In PyQt6, all method aliases seem to have this problem.

[code]

[2021-12-26 23:01] stonebig opened #311 "`QtCore.Qt.mightBeRichText` undefined in PySide"
it seems we have to define for Pyside6
` QtCore.Qt.mightBeRichText = QtGui.Qt.mightBeRichText `

![image](https://user-images.githubusercontent.com/4312421/147421999-edacd16b-7b47-4e66-9cf8-e05e09b7647e.png)

[2022-01-12 16:04] dalthviz commented on #311
Hi @stonebig, would you like to work on this? Let is know!

[2022-01-12 21:56] stonebig commented on #311
Failed at first attempts, if you can do it I would be glad

[2022-01-14 22:49] CAM-Gerlach commented on #306
Only if you use the `@enum.unique` decorator on them. This should be fixable by upstream if so; did you try reporting it there?

[2022-01-15 03:46] CAM-Gerlach commented on #304
Sounds good to me :+1:

[2022-01-18 01:40] #311 closed

[2022-01-18 16:18] #306 closed

[2022-01-19 15:02] #305 closed

[2022-01-20 07:12] #304 closed

[2022-01-20 13:35] kumattau opened #316 "Tests for instance methods alias mapping fix (exec_ vs exec and others)"
hi, @dalthviz

The #308 needs tests before release,
but I may not study qtbot and create test codes right away.

https://github.com/spyder-ide/qtpy/pull/308#issuecomment-1014708640

[2022-01-31 17:30] dalthviz opened #320 "Release QtPy 2.0.1"
Creating this issue just in case there are comments/questions for the upcoming release.

[2022-01-31 18:18] CAM-Gerlach commented on #320
Good idea; I've recently started doing this with Docrepr too and its been pretty helpful (I also make a PR to execute the release and have it close the issue).

[2022-01-31 18:21] #316 closed

[2022-02-02 15:52] dalthviz commented on #320
Release time! I will close this one in order to start the release. For now I will do it as the `RELEASE.md` says, but maybe we should revisit that later to change the steps from pushing directly to instead create a PR as @CAM-Gerlach suggested (which could be better at least to run the test suit one last time before releasing)

[2022-02-02 15:52] #320 closed

[2022-02-26 01:51] CAM-Gerlach opened #323 "Fix test suite failing at collection on Python 3.10 in Pytest 7.x"
Possibly due to an updated (packaging or pytest) dependency, it looks like imports of the installed `qtpy` package started failing to pick up the package in recent [QtPy CI test runs](https://github.com/spyder-ide/qtpy/runs/5340986589?check_suite_focus=true) on Python 3.10, all platforms and install methods (it seems plausible Python 3.6 isn't failing due to not supporting the problem version of s

[2022-02-26 05:22] CAM-Gerlach commented on #323
After much testing, I've been able to reproduce the problem locally and isolated the problem to a regression in Pytest 7.0,0, pytest-dev/pytest#9645 with ``--importmode=importlib``. I can confirm that it is fixed by pytest-dev/pytest#9681 , which is merged, but unfortunately they haven't yet cut another release (which will presumably be 7.0.2). For now, removing `--importmode=importlib` is the mos

[2022-02-28 14:36] #323 closed

[2022-03-09 14:49] dalthviz opened #327 "Missing `QtCore.Qt.MidButton` alias for `QtCore.Qt.MouseButton.MiddleButton` with PyQt6"
Following discussion at https://github.com/jupyter/qtconsole/pull/525#discussion_r822715499

[2022-03-24 19:48] #327 closed

[2022-04-05 16:56] dalthviz opened #332 "Remove `QHeaderView` patch"
Checking a little bit I think the current logic for the `QHeaderView` patch was done in order to give support to removed methods from PyQt4/PySide/Qt4 (https://github.com/spyder-ide/qtpy/issues/64 https://github.com/spyder-ide/qtpy/pull/65) and rigth now the test for the patch is being skipped in a good amount of testing setups since segfaults with Qt 5.15+  Qt6 and also with Python 3.7+ on MacOS

[2022-04-05 17:00] ccordoba12 commented on #332
I agree with that.

[2022-04-07 01:35] CAM-Gerlach commented on #332
I agree as well; #26 offered a fairly compelling rationale to avoid these sorts of matches.

[2022-04-15 22:02] #332 closed

[2022-04-18 15:33] dalthviz opened #336 "Segfaulting tests on PyQt6 + Windows on both Py3.7 and 3.10 (no conda) probably due to PyQt 6.3.0"
Looks like the tests started segfaulting on PyQt6 + Windows on both Py3.7 and 3.10 (no conda). Based on the check logs, it seems likely this is due to the PyQt PyPI wheels for Qt 6.3.0 being released; any idea on fixing this from our end, or should we pin to qt 6.2.x for now?

_Originally posted by @CAM-Gerlach in https://github.com/spyder-ide/qtpy/issues/334#issuecomment-1100450351_

[2022-04-18 15:59] dalthviz commented on #336
Seems like we where installing PyQt6 6.2.3 with PyQt6-Qt6 6.3.0 so a DLL error was being raised.

[2022-04-18 23:12] CAM-Gerlach commented on #336
Ah, I thought that was supported like it is with e.g. PySide on conda, but evidently not, and presumably for whatever reason PyQt doesn't constrain `PyQt-Qt` to a compatible version (which it should, especially if it causes a segfault)...

[2022-04-19 20:49] #265 closed

[2022-04-19 20:49] #336 closed

[2022-04-20 19:09] dalthviz opened #338 "Release QtPy 2.1.0"
Since looks like there is not much left for [2.1.0](https://github.com/spyder-ide/qtpy/milestone/34) I will go ahead and create this issue in case there are comments/questions for the upcoming release.

[2022-04-23 03:49] #216 closed

[2022-04-23 13:03] SanPen opened #339 "Advise on compiling .ui files"
Hi,

I'm the author of [this](https://github.com/SanPen/GridCal) project that uses PySide2.

I would like to migrate completely to `qtpy` but I'm facing some issues when compiling the `.ui` files.

I've noticed that If I compile the `.ui`files with the commands provided by PySide2, then change the `.py`includes to use `qtpy` and then run the project with PySide6, some elements do not transfer well

[2022-04-23 22:21] CAM-Gerlach commented on #339
@dalthviz ?

[2022-04-25 15:49] dalthviz commented on #339
Hi @SanPen, quite nice project! About your question, well that's kind of tricky, I haven't used .ui files to be honest and I think there is no way at the moment to parse the .ui files into a qtpy supported version, sorry :/ (Maybe @ccordoba12 knows better).

Also, are you trying to drop generating the GUI by using .ui files and trying to move the last generated files to use qtpy then? If that is t

[2022-04-25 16:40] dalthviz commented on #226
Since https://github.com/spyder-ide/qtpy/pull/337 (which includes the work done at https://github.com/spyder-ide/qtpy/pull/217 and fixed https://github.com/spyder-ide/qtpy/issues/216) was merged I will close this one. Again thank you so much @altendky for your interest in helping out the project, submitting https://github.com/spyder-ide/qtpy/pull/217 and the time you put there :)

[2022-04-25 16:40] #226 closed

[2022-04-28 15:15] dalthviz opened #342 "Change bindings `try order` to follow QtPy `v1.x` convention"
... I think the _`try order`_ on `v1.x` was something like `PyQt5, PySide2, PyQt4, PySide` but after the removal of Qt4 and addition of Qt6 the order on `v2.x/master` is now `PyQt5, PyQt6, PySide2, PySide6`. So maybe opening a new issue for that could be worthy

_Originally posted by @dalthviz in https://github.com/spyder-ide/qtpy/pull/340#discussion_r861004183_

[2022-04-28 15:16] dalthviz commented on #342
Note: Following what how it was for `v1.x` the order should be - `PyQt5, PySide2, PyQt6, PySide6`

[2022-04-29 14:49] #342 closed

[2022-05-02 16:13] dalthviz commented on #338
It's time for a new release! I will close this one in order to start the release

[2022-05-02 16:13] #338 closed

[2022-05-02 18:13] CAM-Gerlach commented on #338
Thanks, @dalthviz !

[2022-05-02 19:56] CAM-Gerlach opened #345 "Use pre-commit to automatically format code with Black and imports with isort"
As suggested by @DaelonSuzuka in #344 ,

Indeed, for a while now the QtPy source has followed an inconsistent smattering of different PEP 8 and non-PEP 8-conforming styles and practices, which make it harder to easily read and edit, and creates extra work for maintainers and contributors to determine and conform to a consistent code style, as well as extra diff noise and merge conflict potential.

[2022-05-20 19:49] tjwilli58 opened #347 "Infinite loop on uic.loadUi() with PySide2"
I'm trying to use qtpy so I can support both PyQt5 and PySide2. I have a part in my program when I load a different INI file that has a different ui file that updates my GUI. This works fine with PyQt5, but I get an access violation and the program dies when I try the same thing with PySide2.

[code]
The offending line is
`self.FileNamingWidget = uic.loadUi(uifilename)`

I have two different conda

[2022-05-22 09:26] hannesdelbeke opened #348 "is qtpy similar to Qt.py?"
Starting a discussion to compare [qtpy ](https://github.com/spyder-ide/qtpy)and [Qt.py](https://github.com/mottosso/Qt.py) and make users aware of both.
Curious about the main differences.
They appear to serve the same goal.

So far coming from the games & vfx industry Qt.py appears to be the most common.
Only found out about qtpy today and am interested to learn more, since Qt.py does not support

[2022-05-22 11:20] #348 closed, assigned to nobody

[2022-05-22 20:32] tjwilli58 commented on #347
I'm realizing that I mixing pyqtgraph and qtpy may be causing problems. Taking qtpy of of the loop, I changed my code slightly:

[code]
Where `loader` is defined here:
[code]
Not as concise as
[code]

This doesn't bomb with `uic.loadUi` from an infinite loop. (It still doesn't work, but I think there's a bug of my own making.)
I don't want to close this just yet in case I can use qtpy in this case

[2022-05-23 17:16] dalthviz commented on #347
Hi @tjwilli58 thank you for the feedback! So seems like the issues is related with the loadUI implemented for PySide2, right? Could you share with us an example .ui file to check on our side too? Let us know!

[2022-05-23 19:29] tjwilli58 commented on #347
Hi @dalthviz . It does seem so. I fixed the bug of my own making referenced above. I ended up taking out some code that was loading a UI file basically when I shouldn't so the problem in effect went away. I had code calling `uic.loadUi()` somewhere else as part of a dialog, but it was using `PyQt5.uic`. I changed it to using qtpy.uic and that worked fine.

PyQt5 code:

[code]
qtpy code:
[code]
Giv

[2022-05-27 18:54] tjwilli58 commented on #347
Went to revisit this again. I'm not having the same problem. With PySide2 I'm getting this
[code]
I'm not getting this error with PyQt5, but my GUI is also not updating as it should. I'm convinced now that part of this is due to my incorrect mixing of qtpy and pyqtgraph widgets.

If I take out this code completely
[code]
things work just fine. I'm not doing something right with the LayoutWidget. I

[2022-05-30 13:56] dgoeries commented on #134
Since there was no movement over years, can't we include at least the Qt bindings in qtpy and keep this as known issue?

[2022-05-30 18:01] dalthviz commented on #347
Closing this following @tjwilli58 last comment

[2022-05-30 18:01] #347 closed

[2022-06-10 15:50] adam-grant-hendry opened #349 "Feature Request: Keyword Arguments"
C++ doesn't natively support keyword arguments, but Python does. Calls to `Qt` functions from `PyQt` return a "no matching signature" or "not enough arguments" error when keywords are used.

Would it be possible to wrap `Qt` calls in the python bindings so keyword arguments are supported?

This may not be possible (or appropriate) to do within `qtpy` directly. I submitted a feature request to the

[2022-06-10 18:21] dalthviz commented on #349
Hi @adam-grant-hendry thank you for the feedback! I'm not sure what we could do over th qtpy side to help with this sorry :/ However, could you please post a code example with the situation with kwargs you are describing just to be sure we have a clear understanding of the feature you want? Thanks!

[2022-06-10 20:42] CAM-Gerlach commented on #349
Yeah, I'm pretty sure this would need to be done at the binding level if its feasible; my main concern would be that it would make it much more difficult to ensure compatibility between the bindings and versions without a ton of fragile shimming, if one binding implements it but not the other, it isn't backported to Qt5, or they implement it in an incompatible way (e.g. different argument names).

[2022-06-23 10:45] ralienpp opened #351 "`PySide6.QtSvgWidgets` not exposed"
The `QtSvgWidgets` module is not available in QtPy (tried it with 2.1.0), it would be nice to add it, to avoid importing directly from underlying library (i.e. `from PySide6 import QtSvgWidgets`).

[2022-06-23 15:09] dalthviz commented on #351
Hi @ralienpp thank you for the feedback! The upcoming version 2.2.0 will have this module as well as a bunch other missing modules when using version 2.1.0.

The missing modules were added with PR https://github.com/spyder-ide/qtpy/pull/344 ([`QtSvgWidgets` included](https://github.com/spyder-ide/qtpy/pull/344/files#diff-332adca5ca0217d1f742d3c0e26e06e65e22d4cd280ef0d9fe770a3015c9249b))

I will cl

[2022-06-23 15:09] #351 closed

[2022-06-24 22:08] dalthviz commented on #339
Just in case, maybe this could be interesting: https://github.com/hmaarrfk/qtpy-tools/

[2022-06-29 16:46] adam-grant-hendry opened #352 "FR: Deprecation Warning for Enum Access"
Per [this comment here](https://github.com/napari/napari/issues/3263#issuecomment-907159978):

This is confirmed by the [PyQt5 Gotcha's docs](https://www.riverbankcomputing.com/static/Docs/PyQt5/gotchas.html#enums).

Since end users may be accessing different versions of PyQt/PySide through `qtpy`, would it be possible to add a `DeprecationWarning` for the corresponding versions? (most likely this

[2022-06-29 22:26] adam-grant-hendry commented on #352
@CAM-Gerlach Thank you for the pointing me to PR #271 .

I noticed [here](https://github.com/dalthviz/qtpy/blob/b02425b2f884ccefaca25d904f5d61bae14756a4/qtpy/QtCore.py) that enums were promoted for `PyQt6`, but not `PySide6`. Is there a reason for that?

I'm wondering because I'm using [these PySide6 stubs](https://pypi.org/project/IceSpringPySideStubs-PySide6/) and the (relevant part of the) impl

[2022-06-29 23:08] CAM-Gerlach commented on #352
I'm not sure, but @dalthviz and the various folks who discussed it on #233 likely have a better idea...

Also, FYI, just to make sure you're aware of our `qtpy mpy-args` CLI added in #337 that allow you to tell mypy which API it should assume at type-check-time?

[2022-06-29 23:16] adam-grant-hendry commented on #352
+1 on that. No! I wasn't aware! I'm going to look right now.

[2022-06-29 23:37] adam-grant-hendry commented on #352
Can the above also be given/passed to `pylint`, or does it only work with `mypy`?

[2022-06-30 00:11] adam-grant-hendry commented on #352
I can confirm (using the `Python` `OUTPUT` tab) when the arguments are passed separately (not comma-delimited), this works for `mypy`:

[code]

as opposed to

[code]

and I know how to fix the stubs to solve the error `"Signal" has no attribute "emit"`.

However, I have yet to figure out a way to get this to work for `pylint`. It defaults to using `PySide2`.

[2022-06-30 00:13] adam-grant-hendry commented on #352
The above is a little strange considering that the [`mypy` docs](https://mypy.readthedocs.io/en/stable/config_file.html?highlight=always-true#confval-always_true) state `always_true` and `always_false` are both are

[2022-06-30 02:37] adam-grant-hendry commented on #352
I figured out the last piece of the puzzle herre. I mispoke: I wasn't needing an argument for `pylint`, I was needing it for _`pyright`_. By default, the Microsoft Python language server Pylance uses `pyright` under the hood. I can use its `defineConstant` argument [as define here](https://github.com/microsoft/pyright/blob/main/docs/configuration.md#pyright-configuration) to get Pylance to honor t

[2022-06-30 03:53] CAM-Gerlach commented on #352
Great, sorry it was so much trouble and thanks for all the info—might certainly be helpful for someone else in the future.

Are there any changes you would recommend to QtPy based on this, either in the code or in the docs? If so, we'd welcome a PR, or I can try to give it a shot if you can advise me accordingly. Thanks!

[2022-06-30 03:55] adam-grant-hendry commented on #352
@CAM-Gerlach I'd still like to know why enums weren't promoted for PySide6. If you could have someone answer that for me, that would be great!

[2022-06-30 04:38] CAM-Gerlach commented on #352
Sure; @dalthviz ?

[2022-06-30 04:58] adam-grant-hendry commented on #352
Thank you! The code works (obviously), so I'm guessing perhaps it's something to do with the difference between the how `sip` generates bindings vs `shiboken`, but I'm not sure (I'd like to learn more).

[2022-06-30 18:56] dalthviz commented on #352
Hi @adam-grant-hendry, thank you for the feedback and sharing with us the things you did to configure your setup with `qtpy`! Also thank you @CAM-Gerlach for giving guidance to @adam-grant-hendry to find the correct setup :+1:

Regarding the reason behind why enums where not promoted for PySide6 is basically because it was not necessary. As you guessed/checked, there is a difference between what `

[2022-06-30 20:29] CAM-Gerlach commented on #352
I guess the one potential concern I'd have would be if `DeprecationWarning`s are being used for use of unscoped enums on any of our supported bindings that still allow them natively, which would be somewhat inconsistent and confusing to users given the fact that they aren't present at all on PyQt6 yet don't warn. @adam-grant-hendry @dalthviz have you noticed any `DeprecationWarnings` about this?

[2022-06-30 20:58] adam-grant-hendry commented on #352
@CAM-Gerlach @dalthviz Thank you both SO MUCH!

There was a lot of discussion here and I really appreciate all the help and explanation. This was a wonderful experience! Top marks!

As a follow up to @CAM-Gerlach 's [question about suggestions for the docs](https://github.com/spyder-ide/qtpy/issues/352#issuecomment-1170720431), only two things come to mind:

1. If you could add how to configure `p

[2022-06-30 21:16] CAM-Gerlach commented on #352
Maybe we could just include a short note with a link to your aforementioned comment here, rather than pasting the whole thing there?

Typically, unless the project has relatively few or no third party deps, I typically run `mypy` (as well as Pylint and Pyanalyze) using `system` in a `local` hook, where I also use `mypy .` as the invocation and `pass_filenames: false`, which (incidentally) avoids i

[2022-06-30 21:23] adam-grant-hendry commented on #352
Completely fine by me. However you would like to do it. You don't even have to add anything if you don't want to :).

And thank you for the other advice about `pre-commit`! 👍

[2022-06-30 21:25] adam-grant-hendry commented on #352
@CAM-Gerlach @dalthviz Whenever you're ready, feel free to close this issue. Thank you again!

[2022-06-30 23:35] CAM-Gerlach commented on #352
Thanks for all _your_ help and detailed comments! I opened PR #353 which adds such a note, and will close this issue when merged.

[2022-07-01 16:52] #352 closed

[2022-07-16 00:54] zjp commented on #302
My organization has a hand-rolled Qt shim, and I'd love to contribute some of our work back to the open source community. Do you mind if I take a stab at it? We have methods to deal with this that I wouldn't mind adding to `qtpy/compat.py` and sending you a PR.

[2022-07-16 15:29] ccordoba12 commented on #302
Hey @zjp, that sounds great! Please go ahead and push a PR for this.

[2022-07-16 17:46] zjp commented on #302
Great! I have a handful of different functions to add, so I'll add them as separate PRs.

[2022-07-19 17:39] #302 closed

[2022-07-19 17:54] zjp opened #356 "Is there a need for enumasint or intasenum?"
One thing we've done in ChimeraX is standardize on using integers instead of enum values as they exist in PyQt6 which poses a challenge because we're still thinking about whether we want to use that or PySide6.

We have two utility functions, qt_enum_as_int and qt_int_as_enum, to help us achieve the flexibility we need. For other packages (PyQt5, pyside2, pyside6) that don't use enums, we test whe

[2022-07-19 19:21] dalthviz commented on #356
Hi @zjp thanks for sharing! I would say it make sense to me to have some way to achieve compatibility between things. Just in case, what do you think @ccordoba12 @CAM-Gerlach ?

[2022-07-20 13:41] ccordoba12 commented on #356
Sounds good to me too.

[2022-07-22 15:51] CAM-Gerlach commented on #356
Sounds good to me to have the conversion functions in the `qtpy.compat` module, though we could consider also shimming over the actual differences if that's not already done and its straightforward to do (by changes in QtPy rather than monkeypatching the original packages).

[2022-07-25 16:01] #61 closed

[2022-08-01 19:04] dalthviz opened #359 "Release QtPy 2.2.0"
Since looks like there is not much left for [2.2.0](https://github.com/spyder-ide/qtpy/milestone/37) I will go ahead and create this issue in case there are comments/questions for the upcoming release.

[2022-08-01 19:07] ccordoba12 commented on #359
I agree. Adding support for precommit is not critical and can be left for later.

[2022-08-10 17:10] dalthviz commented on #359
Closing this one to do a new release!

[2022-08-10 17:10] #359 closed

[2022-08-31 18:11] j9ac9k opened #364 "Time to remove support for unscopped enums?"
Hello QtPy devs,

pyqtgraph maintainer here.  When QtPy was rolling out support for Qt6, there was the realization that the enum namespace needed to change as PyQt6 no longer supported unscoped enums.  In the discussion on #233 [I even made a comment](https://github.com/spyder-ide/qtpy/issues/233#issuecomment-917224132)about how scoped enums would not work on Qt 5.9, which is what the `default` co

[2022-08-31 18:50] dalthviz commented on #364
Hi @j9ac9k thank you for the feedback and the info! Indeed, the main reason to allow still the unscoped access was to support the default conda channel qt related packages. Besides that  the thing was that PyQt6 was the only binding version removing the unscoped access (as far as I know) so adding the function seemed better.

However yes! This is something to check now then (probably for at least

[2022-08-31 18:52] j9ac9k commented on #364
Unscoped enum access as I understand it is in the process of being deprecated.  Riverbank computing is just aggressive about removing support for elements of the Qt library that are being deprecated, so this is a change that eventually everyone will have to do at some point.

[2022-08-31 19:43] j9ac9k commented on #364
Promoting those enums if I remember right is a _significant_ performance penalty at import time (several seconds); if this can be avoided, I do think the effort should be made to do so.  A distant secondary task would be a cleaner code base.

PySide2 is unlikely to undergo any chances in the future, but certainly a possibility for PySide6.

From this website: https://doc.qt.io/qtforpython/PySide6/

[2022-08-31 22:37] ccordoba12 commented on #364
Very good points to me. Then I'm +1 on this.

[2022-09-01 00:23] j9ac9k commented on #364
Hmm... I just tried to benchmark the time it took to convert enums, and it seems to run really quick; I'm likely not benchmarking the right thing because in the pyqtgraph codebase, this was a fairly significant time-sink if memory serves.

[2022-09-01 16:11] random-developer opened #365 "Additions needed for PySide6 support (`QFontMetricsF.width`, `QLineEdit.getTextMargins` and `QtWidgets.QUndoCommand`)"
I recently ported pycode to support PySide6, including removing the pyqode.qt compatibility module and using qtpy instead. To complete that, I needed to add some additional support:

[code]

Additionally I needed to add in a single source file (I didn't modify my qtpy files at all):

[code]

[2022-09-01 21:39] CAM-Gerlach commented on #364
@j9ac9k if you're running multiple `import`s in the same process to benchmark it (e.g. with `timeit`) #271 all subsequent imports will be cached and be basically instant, which will skew the benchmarks. See this comment: https://github.com/spyder-ide/qtpy/pull/271#issuecomment-960259680 that avoid this.

[2022-09-01 22:35] j9ac9k commented on #364
Thanks for linking the comment; I tested PyQt6 bindings in a similar fashion as you describe, but my memory of how long it took was either clearly wrong or due to differences in qtpy's implementation, not relevant.

Looking at your linked comment looks like we can get import times down by a factor of 4, which I would argue is still a worthwhile endeavor as ~600ms to import a python module is quite

[2022-09-02 13:59] random-developer commented on #365
Hi @dalthviz, I don't know if there's a specific version of PySide6 where this becomes necessary. (I happen to be using 6.3.1 and have only previously used PyQt5.)

I've never created a GitHub PR before but I'll give it a shot with these changes!

[2022-09-02 15:47] dalthviz commented on #365
Thanks @random-developer ! Regarding how to contribute, you can check our contributing guide at https://github.com/spyder-ide/qtpy/blob/master/CONTRIBUTING.md (basically you need to create a fork from this repo into your account and then work from a branch on your fork which you then will use to submit a PR using the GitHub interface)

Also, if this changes help with the latest PySide6 (6.3.1) the

[2022-09-05 17:08] #365 closed

[2022-09-18 10:52] tgwoodcock opened #367 "Import behaviour if no Qt bindings are installed"
Hi, firstly thanks very much for QtPy - the flexibility it brings has been very useful for a recent Qt gui I've been working on. While testing that project, I noticed something which I think is unintended behaviour with qtpy.

This concerns only the case where *no Qt bindings are installed*. In a clean venv, with only qtpy, pip, wheel and setuptools installed, with the current version of qtpy,

[c

[2022-09-18 17:18] CAM-Gerlach commented on #367
Hey @tgwoodcock , thanks for your detailed report!

IIRC, there are historical reasons for falling back to blindly trying PyQt5 if Qt bindings cannot be found, but I'm not sure how relevant they still are now that QtPy is used far beyond Spyder, which originally only really worked well with PyQt5. It would seem cleaner and more sensible, at least starting from a clean slate, to behave more like yo

[2022-09-20 16:29] CAM-Gerlach commented on #367
Ah, great find, @dalthviz . From digging into the [Git history](https://github.com/spyder-ide/qtpy/blame/cc9086e596ccbeb63913a8c245c5c8dd2c9d0c12/qtpy/__init__.py#L191) it looks like this was an unintentional behavior change that was overlooked in the Qt4 + 5 to Qt5 + 6 transition. There isn't any commits where this was deliberately added, and instead what happened is the old Pyside `if` block, pr

[2022-09-20 16:51] dalthviz commented on #367
So I think there are already a couple of things for v2.2.1, maybe we should fix the missing `self` of the `_msg` call on the `QtBindingsNotFoundError` definition and release v2.2.1 and then restore raising the exception (although now it will be `QtBindingsNotFoundError`) for v2.3.0?

What do you think @CAM-Gerlach ?  Do you see any advantage on keeping the current behavior?

[2022-09-22 17:09] CAM-Gerlach commented on #367
Sounds like a good plan to me :+1:

Nope, not really, other than theoretical backward compatibility with a likely narrow corner case (that is really an unintended bug). I do think at least for 3.0 we should refactor the `__init__` along the lines of a simplified #156 to avoid these sorts of issues in the future.

[2022-09-23 16:48] dalthviz opened #369 "Release QtPy 2.2.1"
Following the discussion at https://github.com/spyder-ide/qtpy/issues/367#issuecomment-1252632185 I will go ahead and create this issue in case there are comments/questions for the upcoming release.

[2022-10-03 19:25] dalthviz commented on #369
Closing this to proceed with the release 🎉

[2022-10-03 19:25] #369 closed

[2022-10-07 21:16] yurivict opened #370 "Tests fail to run: The 'asyncio_mode' default value will change to 'strict' in future ..."
[code]

Version: 2.2.1
Python 3.9
FreeBSD 13.1 STABLE

[2022-10-08 02:28] ccordoba12 commented on #370
As you can see from the traceback, this is an error with pytest-asyncio, not qtpy, and we don't even use that plugin in our test suite.

So please report it to the appropriate project or uninstall it to run our tests.

[2022-10-08 02:28] #370 closed

[2022-10-08 02:39] yurivict commented on #370
Thanks!

[2022-10-08 03:50] yurivict opened #371 "One test fails on FreeBSD"
[code]

Version 2.2.1
Python 3.9
FreeBSD 13.1 STABLE

[2022-10-08 11:32] ccordoba12 commented on #371
The test is marked as not working on Linux, as you can see on the top of it. Since we don't support FreeBSD, but they are are similar operating systems, it should skipped there too.

[2022-10-08 11:32] #371 closed

[2022-10-10 06:51] zkovari commented on #339
I also use a lot of `ui` files for PyQt5/6, but I always recompile them on CI without pushing the generated code to Git. So that also means that switching the underlying binding (pyqt5/6, pyside) is easy because the UI files are already binding-independent.

I've recently added a little library that compiles multiple UI files recursively and generates code compatible with pyqt5/6 or pyside2/6 - de

[2022-10-10 19:39] dalthviz commented on #339
Hi @zkovari thank you for sharing the work you have been doing to manage ui files! I believe that we have some level of `compileUi` support for PySide2. Checking we had an issue for that https://github.com/spyder-ide/qtpy/issues/190 but indeed seems like the current approach we have to make available `compileUi` only works for PySide2/PySide2 installations that have `pyside2uic` available 🤔

Howev

[2022-10-11 10:36] zkovari commented on #339
Hi @dalthviz, yeah, I could take a look.

Btw, I don't think this properly supports PySide2 either. It seems to me that `pyside2uic.compileUi` was only available until 5.13.2. Someone mentioned in the linked issue that `pytside2-uic` was brought back in 5.14.2.2, and I assume that's true (I don't know PySide that much). The latest PySide version indeed has the `pytside2-uic` CLI, but it doesn't ha

[2022-10-11 15:23] dalthviz commented on #339
Thanks for the new info @zkovari ! And then this could be quite more involved than I though 🤔 Just in case, I would say the final goal will be to offer `qtpy.uic.compileUi` for PySide2 >= 5.12 and PySide6 >= 6.2 (the oldest PySide2/6 versions we actively support). Probably we will need to implement some logic with try-catch or validations using `qtpy.PYSIDE_VERSION` to execute the different ways `

[2022-10-12 06:59] CAM-Gerlach commented on #370
FWIW, it is used in our docrepr project where I've seen that error...maybe that's where its from.

[2022-10-12 07:02] CAM-Gerlach commented on #371
@yurivict if you could report what `sys.platform` prints on your machine, we could maybe add a skip for it (or just `or "bsd" in sys.platform`).

[2022-10-12 07:04] yurivict commented on #371
```freebsd13```
You can skip strings beginning with ```freebsd```.

[2022-10-12 07:08] CAM-Gerlach commented on #371
@ccordoba12 Any objection to @yurivict submitting a small PR to add a single skip for `freebsd` (or `bsd` generally)? Only one test failed on that platform, and it is unlikely that one skip buried deep in the test suite will confuse people into thinking we support BSD, so seems harmless to me.

[2022-10-12 15:16] ccordoba12 commented on #371
The problem is that we'll give the impression that we support FreeBSD when in reality we don't.

So if @yurivict is trying to package Qtpy for FreeBSD, I think the simplest thing to do is to `sed` all `linux` strings around and replace them with `freebsd`. That's what I've seen other FreeBSD maintainers do.

[2022-10-12 16:25] #134 closed

[2022-10-12 18:51] CAM-Gerlach commented on #371
Right, though as mentioned, I'm not sure a single string inside a skip decorator buried in the test suite will give that impression if we clearly state somewhere people are much more likely to see, like the Readme, that we don't. Though, if it is more easily solved with tooling on their end, then I suppose it is moot.

[2022-10-12 18:52] CAM-Gerlach commented on #371
Also, changed the close status to better reflect the current state of the issue, unless @ccordoba12 / @dalthviz agree with adding a skip.

[2022-10-13 17:29] jiayouzl opened #373 "PySide6 6.40 support - `AttributeError: Cannot reassign members` when aliasing enum values"
Traceback (most recent call last):
  File "/Users/zhanglei/Python代码/PyQT6例程/一键生成pyinstaller编译参数/main.py", line 12, in <module>
    import qtawesome as qta
  File "/opt/homebrew/lib/python3.9/site-packages/qtawesome/__init__.py", line 20, in <module>
    from qtpy import QtCore, QtWidgets, QtGui
  File "/opt/homebrew/lib/python3.9/site-packages/qtpy/QtCore.py", line 116, in <module>
    Qt.MidButto

[2022-10-14 23:38] astrofrog commented on #373
I'm having this issue too with PySide6 on different platforms:

[code]

[2022-10-17 15:07] dalthviz opened #375 "Test PySide6 6.4.x"
Add PySide6 6.4.0 to the test suite since some changes regarding enums could be causing problems like #373

[2022-10-17 15:10] #373 closed

[2022-10-17 17:01] CAM-Gerlach commented on #375
Lmk if you need a hand with this—basically, we can either add a new matrix job under `include`, or you can just bump the `pyside6-version` running on `windows-latest`/3.10/use-conda: No to 6.4 instead of 6.3, so we capture the full range of supported versions, which I believe was the reason we did so in the first place (and we have our other jobs running on the 6.2 LTS).

[2022-10-17 17:04] CAM-Gerlach commented on #375
For the extra packages, if at least their `major.minor` versions match the main binding package, we can re-use those `env` variables rather than adding separate ones per package, but otherwise we can either just add them individually, or as a single environment variable that is a string of extra dep requirements for specific matrix slot(s).

[2022-10-17 17:27] dalthviz commented on #375
I think you have a clear plan for this so if you want to help go ahead @CAM-Gerlach :+1:

[2022-10-17 22:51] CAM-Gerlach commented on #375
Sure; I've opened #376 with the initial preliminary changes to bump the upper bound up to 6.4, and then we can address any test failures from there (which I might need help with, if they're not so easy to fix), and move to adding the optional deps after that (either there or in a separate PR).

[2022-10-18 08:50] owillebo opened #377 "Import `QtCore.Qt` failure - `AttributeError: Cannot reassign members.`"
Running in a venv;
[code]

from qtpy.QtCore import Qt

results in;
[code]
Qt.MouseButton.MiddleButton exists before the assignment.

[2022-10-18 18:16] dalthviz commented on #377
Hi @owillebo thank you for the feedback! This looks like a duplicate of #373 and it was already fixed with #374

Just in case, we are currently checking what other elements could need an update due to PySide6 6.4.0 release at #375 and #376 . For the moment, to prevent this issue, you will need to downgrade PySide 6 to a 6.3.x version.

Let us know if the info above helps!

[2022-10-26 08:03] jschueller opened #381 "Add QtPdf, QtPdfWidgets"
these are new in 6.x

[2022-11-01 00:39] dalthviz opened #383 "Add extra packages available for PyQt to CI for testing"
Follow-up issue as discussed at https://github.com/spyder-ide/qtpy/pull/372 to add to the test suite setup extra packages

[2022-11-01 02:02] #375 closed

[2022-11-01 15:56] dalthviz opened #384 "Release QtPy 2.3.0"
Creating this issue in case there are comments/questions for the upcoming release.

[2022-11-03 10:19] hiaselhans opened #385 "mypy wrong class operators"
In this reproducer:

[code]
Mypy fails to get the (not-inplace) multiplication and division annotations right
Inplace multiplication annotations (a *= 0.5) work

[code]

while using pyside6 directly works without problem:

[code]

[2022-11-05 00:15] dalthviz commented on #385
Hi @hiaselhans thank you for the feedback! I tested this on Windows and in both cases (with `qtpy` or directly importing from `PySide6`) I got: `reproducer.py:6: error: Unsupported operand types for / ("QSize" and "int")`

Could be possible for you to give us more info about your setup to try to reproduce this (OS, packages versions, etc )? Let us know!

[2022-11-06 00:49] #381 closed

[2022-11-06 01:02] dalthviz commented on #381
Note: Modules available starting with PyQt6/PySide6 6.4.0

[2022-11-07 16:19] mchlnix commented on #377
Had this issue with Python 3.11 and downgrading PySide is not an option, since 6.4.0.1 is the only one supporting 3.11 atm. Not an issue, just so you know in case it comes up.

[2022-11-07 21:21] #367 closed

[2022-11-07 21:40] dalthviz commented on #384
Closing this to proceed with the release 🎉

[2022-11-07 21:40] #384 closed

[2022-11-08 02:11] dalthviz commented on #377
Hi @mchlnix thank you for the feedback! We just released QtPy 2.3.0, could you test if it works as expected on your setup (Python 3.11 and Pyside6 6.4.0.1)? Let us know!

[2022-11-08 13:16] mchlnix commented on #377
Works for me :+1:

[2022-11-08 13:23] owillebo commented on #377
Works like a charm!

[2022-11-08 18:51] dalthviz commented on #377
Awesome, thank you for the feedback @mchlnix @owillebo ! I'm closing this one then as a duplicate of #373 (fix available with QtPy v2.3.0)

[2022-11-08 18:51] #377 closed

[2022-11-09 09:11] florisla opened #386 "Add official support for Python 3.11"
Hi,

The recent PySide6 release 6.4.0.1 now supports Python 3.11 too.

Qtpy officially only supports 3.6 to 3.10 but not yet 3.11.

Here's the commit which added 3.10: https://github.com/spyder-ide/qtpy/commit/005641217fbece5e2844ffb844596c90ae3850b6 .

Thanks a lot for this amazing project!

[2022-11-09 18:17] dalthviz commented on #386
Hi @florisla thank you for the feedback and your nice words! We will do this in a future release :+1: